<!-- Main model: bed_kind -->

<div class="box" 
	ng-controller="BedKindController as BedKindController" 
	ng-init="BedKindController.show()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'model.bed_kind' | hookFilterTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="BedKindController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">
		
		<dl><!-- class="dl-horizontal" -->
			
			<dt>{{ 'label.name' | hookFilterTranslate | hookFilterTitle }}</dt>
			<dd>{{ BedKindController.bedKind.name | hookFilterContentTranslate }}</dd>
			
		</dl>
	
	</div><!-- /.box-body -->
	
	<div class="box-footer">
	</div><!-- /.box-footer -->

</div><!-- /.box -->