<div class="row">
 	<div class="col-md-12">
 		
		<div class="box" 
			ng-controller="MachineNameController as MachineNameController" 
			ng-init="MachineNameController.form()">

			<div class="box-header with-border">

				<h3 class="box-title">{{ MachineNameController.mode | translate | title }} {{ 'machine_name' | translate | title }}</h3>
				
				<div class="box-tools" 
					action-buttons-resource 
					bind-controller="MachineNameController"></div>

			</div><!-- /.box-header -->
			
			<!-- form start -->
			<form name="form"
				role="form"
				novalidate>
				
				<div class="box-body">
					
					<div class="form-group">
						
						<label for="text-machine-name-name"
							hook-label
							hook-label-bind-form="form"
							hook-label-bind-field="name"
							hook-label-bind-required="true">
						</label>
						
						<div hook-error-messages 
							hook-error-messages-bind-form="form"
							hook-error-messages-bind-field="name"></div>

						<input class="form-control" 
							id="text-machine-name-name" 
							name="name"
							placeholder="{{ 'name' | translate | title }}"
							type="text" 
							ng-model="MachineNameController.machineName.name"
							hook-validation-required
							hook-validation-unique
							hook-validation-unique-bind-controller="MachineNameController"
							hook-validation-unique-bind-model="MachineNameController.machineName"
							>
					
					</div><!-- /.form-group -->

					

					
					<div class="form-group" 
						ng-controller="MachineNameTranslationController as MachineNameTranslationController" >
						
						<label for="checkbox-machine-name-machine-name-translation"
							hook-label
							hook-label-bind-form="form"
							hook-label-bind-field="machine_name_translation"
							hook-label-bind-required="false">
							>
						</label>
						
						<div class="checkbox"
							ng-repeat="machineNameTranslation in MachineNameTranslationController.machineNameTranslations">
							
							<label for="checkbox-machine-name-machine-name-translation-{{ machineNameTranslation.id }}">
								
								<input id="checkbox-machine-name-machine-name-translation-{{ machineNameTranslation.id }}" 
									type="checkbox"
									ng-model="MachineNameController.machineName.machineNameTranslations[machineNameTranslation.id]">{{ machineNameTranslation.name }}
							
							</label>
						
						</div><!-- /.checkbox -->

					</div><!-- /.form-group -->


					
				</div><!-- /.box-body -->
				
				<div class="box-footer" 
					form-buttons
					bind-form="form"
					bind-controller="MachineNameController"></div><!-- /.box-footer -->
			
			</form>
		</div><!-- /.box -->

 	</div><!-- /.col -->
</div><!-- /.row -->