<!-- Main model: accommodation -->

<div class="box" 
	ng-controller="AccommodationController as AccommodationController" 
	ng-init="AccommodationController.show()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'model.accommodation' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="AccommodationController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="nav-tabs-custom">

        <ul class="nav nav-tabs" ng-init="AccommodationController.displayLanguage=HookController.ui.getLanguage()">
         
          <li ng-class="{ 'active': AccommodationController.displayLanguage==language.iso_2_code }"
          	ng-repeat="(id, language) in HookController.ui.getEnableLanguages()">
          
          	<a href="" ng-click="AccommodationController.displayLanguage=language.iso_2_code">
          	
          		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
          	
          		{{ language.name | hookFilterContentTranslate }}
          	
          	</a>
         
          </li>
        
        </ul>


		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.name | hookFilterContentTranslate: AccommodationController.displayLanguage }}</dd>
				
				<dt>{{ 'label.description' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.description | hookFilterContentTranslate: AccommodationController.displayLanguage }}</dd>
				
				<dt>{{ 'label.size' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.size }}</dd>
				
				<dt>{{ 'label.rooms' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.rooms }}</dd>
				
				<dt>{{ 'label.price' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.price }}</dd>
				
				<dt>{{ 'label.extra_bed_price' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.extra_bed_price }}</dd>
				
				<dt>{{ 'label.max_quantity' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.max_quantity }}</dd>
				
				<dt>{{ 'label.max_extra_bed' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.max_extra_bed }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->
	
		<!-- Main model: accommodation, Relationship alias: site, Relationship model: site -->
		
		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.site' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.site | hookFilterByFieldValue: 'name' | hookFilterContentTranslate: AccommodationController.displayLanguage }}</dd>
				
				<dt>{{ 'label.domain' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.site | hookFilterByFieldValue: 'domain' }}</dd>
				
				<dt>{{ 'label.subdomain' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.site | hookFilterByFieldValue: 'subdomain' }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->

		<!-- Main model: accommodation, Relationship alias: kind, Relationship model: accommodation_kind -->
		
		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.kind' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.kind | hookFilterByFieldValue: 'name' | hookFilterContentTranslate: AccommodationController.displayLanguage }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->

		<!-- Main model: accommodation, Relationship alias: roomType, Relationship model: room_combination -->
		
		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.room_type' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.room_type' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.roomType | hookFilterByFieldValue: 'room_type' }}</dd>
				
				<dt>{{ 'label.bed_combination' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.roomType | hookFilterByFieldValue: 'bed_combination' | hookFilterContentTranslate: AccommodationController.displayLanguage }}</dd>
				
				<dt>{{ 'label.max_people' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationController.accommodation.roomType | hookFilterByFieldValue: 'max_people' }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->

		<!-- Main model: accommodation, Relationship alias: facilities, Relationship model: accommodation_facility -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.facilities' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.icon' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, facility) in AccommodationController.accommodation.facilities">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ facility.icon }}</td>
						
						<td>{{ facility.name | hookFilterContentTranslate: AccommodationController.displayLanguage }}</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->


	<div class="box-footer">
	</div><!-- /.box-footer -->


	</div><!-- ./nav-tabs-custom -->

</div><!-- /.box -->