<!-- Main model: page -->

<div class="box" 
	ng-controller="PageController as PageController" 
	ng-init="PageController.show()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'model.page' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="PageController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="nav-tabs-custom">

        <ul class="nav nav-tabs" ng-init="PageController.displayLanguage=HookController.ui.getLanguage()">
         
          <li ng-class="{ 'active': PageController.displayLanguage==language.iso_2_code }"
          	ng-repeat="(id, language) in HookController.ui.getEnabledLanguages()">
          
          	<a href="" ng-click="PageController.displayLanguage=language.iso_2_code">
          	
          		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
          	
          		{{ language.name | hookFilterContentTranslate }}
          	
          	</a>
         
          </li>
        
        </ul>


		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ PageController.page.name }}</dd>
				
				<dt>{{ 'label.meta_title' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ PageController.page.meta_title | hookFilterContentTranslate: PageController.displayLanguage }}</dd>
				
				<dt>{{ 'label.meta_description' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ PageController.page.meta_description | hookFilterContentTranslate: PageController.displayLanguage }}</dd>
				
				<dt>{{ 'label.meta_keywords' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ PageController.page.meta_keywords | hookFilterContentTranslate: PageController.displayLanguage }}</dd>
				
				<dt>{{ 'label.weight' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ PageController.page.weight }}</dd>
				
				<dt>{{ 'label.is_home' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd ng-class="page.is_home ? 'text-success':'text-danger'"><span class="fa" ng-class="PageController.page.is_home ? 'fa-check':'fa-close'"></span></dd>
				
				<dt>{{ 'label.is_main_menu' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd ng-class="page.is_main_menu ? 'text-success':'text-danger'"><span class="fa" ng-class="PageController.page.is_main_menu ? 'fa-check':'fa-close'"></span></dd>
				
				<dt>{{ 'label.is_footer_menu' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd ng-class="page.is_footer_menu ? 'text-success':'text-danger'"><span class="fa" ng-class="PageController.page.is_footer_menu ? 'fa-check':'fa-close'"></span></dd>
				
			</dl>
		
		</div><!-- /.box-body -->
	
		<!-- Main model: page, Relationship alias: site, Relationship model: site -->
		
		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.site' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ PageController.page.site | hookFilterByFieldValue: 'name' | hookFilterContentTranslate: PageController.displayLanguage }}</dd>
				
				<dt>{{ 'label.domain' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ PageController.page.site | hookFilterByFieldValue: 'domain' }}</dd>
				
				<dt>{{ 'label.subdomain' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ PageController.page.site | hookFilterByFieldValue: 'subdomain' }}</dd>
				
				<dt>{{ 'label.address' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ PageController.page.site | hookFilterByFieldValue: 'address' | hookFilterContentTranslate: PageController.displayLanguage }}</dd>
				
				<dt>{{ 'label.telephone' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ PageController.page.site | hookFilterByFieldValue: 'telephone' }}</dd>
				
				<dt>{{ 'label.fax' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ PageController.page.site | hookFilterByFieldValue: 'fax' }}</dd>
				
				<dt>{{ 'label.email' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ PageController.page.site | hookFilterByFieldValue: 'email' }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->

		<!-- Main model: page, Relationship alias: sections, Relationship model: section -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.sections' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.title' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.body' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.weight' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, section) in PageController.page.sections">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ section.title | hookFilterContentTranslate: PageController.displayLanguage }}</td>
						
						<td>{{ section.body | hookFilterContentTranslate: PageController.displayLanguage }}</td>
						
						<td>{{ section.weight }}</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->


	<div class="box-footer">
	</div><!-- /.box-footer -->


	</div><!-- ./nav-tabs-custom -->

</div><!-- /.box -->