<!-- Main model: plan -->

<div class="box" 
	ng-controller="PlanController as PlanController" 
	ng-init="PlanController.list()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'model.plan' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="PlanController"></div>
	
	</div><!-- /.box-header -->


	<div class="nav-tabs-custom">

        <ul class="nav nav-tabs" ng-init="PlanController.displayLanguage=HookController.ui.getLanguage()">
         
          <li ng-class="{ 'active': PlanController.displayLanguage==language.iso_2_code }"
          	ng-repeat="(id, language) in HookController.ui.getEnableLanguages()">
          
          	<a href="" ng-click="PlanController.displayLanguage=language.iso_2_code">
          	
          		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
          	
          		{{ language.name | hookFilterContentTranslate }}
          	
          	</a>
         
          </li>
        
        </ul>
	
		<div class="box-body">
			
			<table class="table table-bordered table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>

						<th>{{ 'label.description' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>

						<th class="table-action-column-width">{{ 'ui.actions' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
					
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, plan) in PlanController.plans">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ plan.name | hookFilterContentTranslate: PlanController.displayLanguage }}</td>

						<td>{{ plan.description | hookFilterContentTranslate: PlanController.displayLanguage }}</td>

						<td hook-action-button-list 
							hook-action-button-list-bind-resource="plan" 
							hook-action-button-list-bind-controller="PlanController"></td>
					
					</tr>
				
				</tbody>
			
			</table>
		
		</div><!-- /.box-body -->

	
		<div class="box-footer">
		</div><!-- /.box-footer -->

	</div><!-- ./nav-tabs-custom -->

</div><!-- /.box -->