<!-- Main model: group -->

<div class="box" 
	ng-controller="GroupController as GroupController" 
	ng-init="GroupController.show()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'model.group' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="GroupController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="nav-tabs-custom">

        <ul class="nav nav-tabs" ng-init="GroupController.displayLanguage=HookController.ui.getLanguage()">
         
          <li ng-class="{ 'active': GroupController.displayLanguage==language.iso_2_code }"
          	ng-repeat="(id, language) in HookController.ui.getEnabledLanguages()">
          
          	<a href="" ng-click="GroupController.displayLanguage=language.iso_2_code">
          	
          		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
          	
          		{{ language.name | hookFilterContentTranslate }}
          	
          	</a>
         
          </li>
        
        </ul>


		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ GroupController.group.name | hookFilterContentTranslate: GroupController.displayLanguage }}</dd>
				
				<dt>{{ 'label.weight' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ GroupController.group.weight }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->
	
		<!-- Main model: group, Relationship alias: machineName, Relationship model: machine_name -->
		
		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.machine_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ GroupController.group.machineName | hookFilterByFieldValue: 'name' }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->

		<!-- Main model: group, Relationship alias: users, Relationship model: user -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.users' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.username' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.first_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.last_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.email' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, user) in GroupController.group.users">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ user.username }}</td>
						
						<td>{{ user.first_name | hookFilterContentTranslate: GroupController.displayLanguage }}</td>
						
						<td>{{ user.last_name | hookFilterContentTranslate: GroupController.displayLanguage }}</td>
						
						<td>{{ user.email }}</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->

		<!-- Main model: group, Relationship alias: sites, Relationship model: site -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.sites' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.domain' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.subdomain' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.address' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.telephone' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.fax' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.email' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.facebook_link' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.twitter_link' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.tripadvisor_link' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, site) in GroupController.group.sites">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ site.name | hookFilterContentTranslate: GroupController.displayLanguage }}</td>
						
						<td>{{ site.domain }}</td>
						
						<td>{{ site.subdomain }}</td>
						
						<td>{{ site.address | hookFilterContentTranslate: GroupController.displayLanguage }}</td>
						
						<td>{{ site.telephone }}</td>
						
						<td>{{ site.fax }}</td>
						
						<td>{{ site.email }}</td>
						
						<td>{{ site.facebook_link }}</td>
						
						<td>{{ site.twitter_link }}</td>
						
						<td>{{ site.tripadvisor_link }}</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->

		<!-- Main model: group, Relationship alias: features, Relationship model: feature -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.features' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.icon' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.description' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th class="text-center">{{ 'label.hide_from_menu' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th class="text-center">{{ 'label.owner' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.weight' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, feature) in GroupController.group.features">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ feature.icon }}</td>
						
						<td>{{ feature.name | hookFilterContentTranslate: GroupController.displayLanguage }}</td>
						
						<td>{{ feature.description | hookFilterContentTranslate: GroupController.displayLanguage }}</td>
						
						<td class="text-center" 
							ng-class="feature.hide_from_menu ? 'text-success':'text-danger'">
							<span class="fa" 
								ng-class="feature.hide_from_menu ? 'fa-check':'fa-close'"></span>
						</td>
						
						<td class="text-center" 
							ng-class="feature.owner ? 'text-success':'text-danger'">
							<span class="fa" 
								ng-class="feature.owner ? 'fa-check':'fa-close'"></span>
						</td>
						
						<td>{{ feature.weight }}</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->


	<div class="box-footer">
	</div><!-- /.box-footer -->


	</div><!-- ./nav-tabs-custom -->

</div><!-- /.box -->