<div class="container-fluid" ng-init="ArticleCtrl.index()">
	<div class="row">
		<div class="col-md-12">
			<strong>Actions: </strong>
			<a href="#/articles/create" class="btn btn-success">Create</a>
		</div>		
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1>Article</h1>
			<table class="table">
				<tr><th>#</th><th>Title</th><th>Body</th><th>Actions</th></tr>
				<tr ng-repeat="(id, article) in ArticleCtrl.articles">
					<td>{{article.id}}</td>
					<td><a href="#/articles/{{article.id}}">{{article.title}}</a></td>
					<td>{{article.body}}</td>
					<td>
						<a href="#/articles/edit/{{article.id}}" class="btn btn-warning">Edit</a>
						<button ng-click="destroy(article)" class="btn btn-danger">Delete</button>
					</td>
				</tr>
			</table>
		</div>		
	</div>
</div>