<div class="container-fluid" ng-init="ArticleCtrl.show()">
	<div class="row">
		<div class="col-md-12">
			<strong>Actions: </strong>
			<a href="#/articles" class="btn btn-primary">Back to articles</a>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12">
			<h1>{{ArticleCtrl.article.title}}</h1>
			<p>{{ArticleCtrl.article.body}}</p>
		</div>
	</div>		
	<div class="row">
		<div class="col-md-12">
			<strong>Comments:</strong>
		</div>
	</div>
	<div class="row" ng-init="show()">
		<div class="col-md-12" ng-repeat="(commentKey, comment) in article.comments">
			<p>{{comment.body}}</p>
		</div>
	</div>
	<!-- <div class="row" ng-controller="CommentCtrl as CommentCtrl">
		<div class="col-md-12" ng-repeat="(commentKey, comment) in CommentCtrl.commentsByFilter({article:ArticleCtrl.article.id})">
			<p>{{comment.body}}</p>
			<p>RE: {{article.title}}</p>
		</div>
	</div> -->
	<div class="row">
		<div class="col-md-12">
			<form novalidate>
				<div class="form-group">
					<textarea class="form-control" id="comment" placeholder="Comment" ng-model="comment.body" rows="3"></textarea>
				</div>
				<button type="submit" class="btn btn-success" ng-click="addCommment(comment)">Add comment</button>
				
			</form>
		</div>
	</div>
</div>