<div class="box" 
	ng-controller="MachineNameTranslationController as MachineNameTranslationController" 
	ng-init="MachineNameTranslationController.list()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ MachineNameTranslationController.type | hookFilterTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="MachineNameTranslationController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">
		
		<table class="table table-bordered table-hover"
			id="table-group"> 
			
			<thead>
				
				<tr>
			
					<th class="table-index-column-width">#</th>
					
					<th>{{ 'translation' | hookFilterTranslate | hookFilterTitle }}</th>
					
					<th>{{ 'language' | hookFilterTranslate | hookFilterTitle }}</th>
					
					<th class="table-action-column-width">{{ 'actions' | hookFilterTranslate | hookFilterTitle }}</th>
				
				</tr>
			
			</thead>
			
			<tbody>
				
				<tr ng-repeat="(id, machineNameTranslation) in MachineNameTranslationController.machineNameTranslations">
					
					<td>{{ $index + 1 }}</td>
					
					<td>{{ machineNameTranslation.translation }}</td>
					
					<td>{{ machineNameTranslation.language }}</td>
					
					<td hook-action-button-list 
						hook-action-button-list-bind-resource="machineNameTranslation" 
						hook-action-button-list-bind-controller="MachineNameTranslationController">
					</td>
				
				</tr>
			
			</tbody>
		
		</table>
	
	</div><!-- /.box-body -->
	
	<div class="box-footer">
	</div><!-- /.box-footer -->

</div><!-- /.box -->