<!-- Main model: machine_name_translation -->

<div class="box" 
	ng-controller="MachineNameTranslationController as MachineNameTranslationController" 
	ng-init="MachineNameTranslationController.show()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'model.machine_name_translation' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="MachineNameTranslationController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="nav-tabs-custom">

        <ul class="nav nav-tabs" ng-init="MachineNameTranslationController.displayLanguage=HookController.ui.getLanguage()">
         
          <li ng-class="{ 'active': MachineNameTranslationController.displayLanguage==language.iso_2_code }"
          	ng-repeat="(id, language) in HookController.ui.getEnableLanguages()">
          
          	<a href="" ng-click="MachineNameTranslationController.displayLanguage=language.iso_2_code">
          	
          		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
          	
          		{{ language.name | hookFilterContentTranslate }}
          	
          	</a>
         
          </li>
        
        </ul>


		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.translation' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ MachineNameTranslationController.machineNameTranslation.translation }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->
	
		<!-- Main model: machine_name_translation, Relationship alias: machineName, Relationship model: machine_name -->
		
		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.machine_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ MachineNameTranslationController.machineNameTranslation.machineName | hookFilterByFieldValue: 'name' }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->

		<!-- Main model: machine_name_translation, Relationship alias: language, Relationship model: language -->
		
		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.language' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ MachineNameTranslationController.machineNameTranslation.language | hookFilterByFieldValue: 'name' | hookFilterContentTranslate: MachineNameTranslationController.displayLanguage }}</dd>
				
				<dt>{{ 'label.flag' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ MachineNameTranslationController.machineNameTranslation.language | hookFilterByFieldValue: 'flag' }}</dd>
				
				<dt>{{ 'label.native_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ MachineNameTranslationController.machineNameTranslation.language | hookFilterByFieldValue: 'native_name' }}</dd>
				
				<dt>{{ 'label.iso_2_code' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ MachineNameTranslationController.machineNameTranslation.language | hookFilterByFieldValue: 'iso_2_code' }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->


	<div class="box-footer">
	</div><!-- /.box-footer -->


	</div><!-- ./nav-tabs-custom -->

</div><!-- /.box -->