<!-- Main model: room_combination -->

<div class="row"
	ng-controller="RoomCombinationController as RoomCombinationController" 
	ng-init="RoomCombinationController.form()">
 	<div class="col-md-8">
 		
		<div class="box">

			<div class="box-header with-border">

				<h3 class="box-title">
					{{ ('ui.' + RoomCombinationController.mode) | hookFilterMachineNameTranslate | hookFilterTitle }} {{ 'model.room_combination' | hookFilterMachineNameTranslate | hookFilterTitle }}
				</h3>
				
				<div class="box-tools" 
					hook-action-button-box-tools 
					hook-action-button-box-tools-bind-controller="RoomCombinationController"></div>

			</div><!-- /.box-header -->
			
			
			<div class="nav-tabs-custom">
                <ul class="nav nav-tabs" ng-init="RoomCombinationController.displayLanguage=HookController.ui.getLanguage()">
                 
                  <li ng-class="{ 'active': RoomCombinationController.displayLanguage==language.iso_2_code }"
                  	ng-repeat="(id, language) in HookController.ui.getEnableLanguages()">
                  
                  	<a href="" ng-click="RoomCombinationController.displayLanguage=language.iso_2_code">
                  	
                  		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
                  	
                  		{{ language.name | hookFilterContentTranslate }}
                  	
                  	</a>
                 
                  </li>
                
                </ul>

				<!-- form start -->
				<form name="form"
						role="form"
						novalidate>

					<div class="box-body">
				
							
						<div class="form-group">

							<label for="text-room-combination-room-type"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="room_type"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="room_type"></div>
							
							<input class="form-control" 
								id="text-room-combination-room-type" 
								name="room_type"
								placeholder="{{ 'label.room_type' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="RoomCombinationController.roomCombination.room_type"	 						
								hook-validation-required
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-room-combination-bed-combination"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="bed_combination"
								hook-form-label-bind-flag="HookController.ui.getFlagByIso2Code(RoomCombinationController.displayLanguage)"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="bed_combination"></div>
							
							<input class="form-control" 
								id="text-room-combination-bed-combination" 
								name="bed_combination"
								placeholder="{{ 'label.bed_combination' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="RoomCombinationController.roomCombination.bed_combination[RoomCombinationController.displayLanguage]"	 						
								hook-validation-required
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-room-combination-max-people"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="max_people"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="max_people"></div>
							
							<input class="form-control" 
								id="text-room-combination-max-people" 
								name="max_people"
								placeholder="{{ 'label.max_people' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="RoomCombinationController.roomCombination.max_people"	 						
								hook-validation-required
								hook-validation-number
								>
						
						</div><!-- /.form-group -->

	
		
						<!-- Main model: room_combination, Relationship alias: roomTypeAccommodations, Relationship model: accommodation -->

						<div class="form-group" 
							ng-controller="AccommodationController as AccommodationController" >
							
							<label for="checkbox-room-combination-room-type-accommodations"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="room_type_accommodations"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="roomTypeAccommodations in AccommodationController.accommodations">
								
								<label for="checkbox-room-combination-room-type-accommodations-{{ roomTypeAccommodations.id }}">
									
									<input id="checkbox-room-combination-room-type-accommodations-{{ roomTypeAccommodations.id }}" 
										type="checkbox"
										ng-model="RoomCombinationController.roomCombination.roomTypeAccommodations[roomTypeAccommodations.id]">{{ roomTypeAccommodations.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

	
					
					</div><!-- ./box-body -->

					<div class="box-footer" 
						hook-form-button
						hook-form-button-bind-form="form"
						hook-form-button-bind-controller="RoomCombinationController"></div><!-- /.box-footer -->

				</form>

            </div><!-- ./nav-tabs-custom -->
		
		</div><!-- /.box -->

 	</div><!-- /.col -->

	<div class="col-md-4">
	 	
	 	<div class="box">
	 		<div class="box-header with-border">
			
				<h3 class="box-title">{{ 'ui.translation_view' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
		
			</div><!-- /.box-header -->

			<div class="nav-tabs-custom" ng-init="RoomCombinationController.displayLanguageView=HookController.ui.getLanguage()">
                
                <ul class="nav nav-tabs">
                 
                  <li ng-class="{ 'active': RoomCombinationController.displayLanguageView==language.iso_2_code }"
                  	ng-repeat="(id, language) in HookController.ui.getEnableLanguages()">
                  
                  	<a href="" ng-click="RoomCombinationController.displayLanguageView=language.iso_2_code">
                  	
                  		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
                  	
                  		{{ language.name | hookFilterContentTranslate }}
                  	
                  	</a>
                 
                  </li>
                
                </ul>

				<div class="tab-content">
				
					<dl><!-- class="dl-horizontal" -->
					
						<dt>{{ 'label.bed_combination' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
						<dd>{{ RoomCombinationController.roomCombination.bed_combination | hookFilterContentTranslate: RoomCombinationController.displayLanguageView }}</dd>
					</dl>
			
				</div><!-- /.tab-content -->

 		    </div><!-- /.nav-tabs-custom -->
 		
 		</div><!-- /.box -->

 	</div><!-- /.col -->

</div><!-- /.row -->