<md-dialog> 
	<md-toolbar> 
		<div class="md-toolbar-tools"><h3>{{ "model.section_kind" | hookFilterMachineNameTranslate | hookFilterTitle }}</h3></div>
	</md-toolbar> 
	<md-dialog-content> 
		<md-list> 
			<md-list-item ng-repeat="(id, kind) in SectionKindDialogController.sectionKinds"> 
				<button class="md-no-style md-button md-ink-ripple"
					ng-click="SectionKindDialogController.addSection(kind)"
					ng-include="'management_app/resource/section/view/dialog/ex_'+kind.name+'.html'"> 

					<!-- <p class="md-list-item-inner" ng-click="SectionKindDialogController.addSection(kind)">{{ kind.name }}</p>  -->
				</button> 
			</md-list-item> 
		</md-list> 
	</md-dialog-content> 
	<md-dialog-actions> 
		<md-button class="md-raised" ng-click="SectionKindDialogController.close()">close</md-button> 
	</md-dialog-actions> 
</md-dialog>