<!-- Main model: room -->

<div class="row"
	ng-controller="RoomController as RoomController" 
	ng-init="RoomController.form()">
 	<div class="col-md-8">
 		
		<div class="box">

			<div class="box-header with-border">

				<h3 class="box-title">
					{{ ('ui.' + RoomController.mode) | hookFilterMachineNameTranslate | hookFilterTitle }} {{ 'model.room' | hookFilterMachineNameTranslate | hookFilterTitle }}
				</h3>
				
				<div class="box-tools" 
					hook-action-button-box-tools 
					hook-action-button-box-tools-bind-controller="RoomController"></div>

			</div><!-- /.box-header -->
			
			
			<div class="nav-tabs-custom">
                <ul class="nav nav-tabs" ng-init="RoomController.displayLanguage=HookController.ui.getLanguage()">
                 
                  <li ng-class="{ 'active': RoomController.displayLanguage==language.iso_2_code }"
                  	ng-repeat="(id, language) in HookController.ui.getEnabledLanguages()">
                  
                  	<a href="" ng-click="RoomController.displayLanguage=language.iso_2_code">
                  	
                  		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
                  	
                  		{{ language.name | hookFilterContentTranslate }}
                  	
                  	</a>
                 
                  </li>
                
                </ul>

				<!-- form start -->
				<form name="form"
						role="form"
						novalidate>

					<div class="box-body">
				
							
						<div class="form-group">

							<label for="text-room-room-type"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="room_type"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="room_type"></div>
							
							<input class="form-control" 
								id="text-room-room-type" 
								name="room_type"
								placeholder="{{ 'label.room_type' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="RoomController.room.room_type"	 						
								hook-validation-required
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-room-bed-combination"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="bed_combination"
								hook-form-label-bind-flag="HookController.ui.getFlagByIso2Code(RoomController.displayLanguage)"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="bed_combination"></div>
							
							<input class="form-control" 
								id="text-room-bed-combination" 
								name="bed_combination"
								placeholder="{{ 'label.bed_combination' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="RoomController.room.bed_combination[RoomController.displayLanguage]"	 						
								hook-validation-required
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-room-max-people"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="max_people"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="max_people"></div>
							
							<input class="form-control" 
								id="text-room-max-people" 
								name="max_people"
								placeholder="{{ 'label.max_people' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="RoomController.room.max_people"	 						
								hook-validation-required
								hook-validation-number
								>
						
						</div><!-- /.form-group -->

	
		
						<!-- Main model: room, Relationship alias: accommodations, Relationship model: accommodation -->

						<div class="form-group" 
							ng-controller="AccommodationController as AccommodationController" >
							
							<label for="checkbox-room-accommodation"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="accommodations"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="accommodation in AccommodationController.accommodations">
								
								<label for="checkbox-room-accommodation-{{ accommodation.id }}">
									
									<input id="checkbox-room-accommodation-{{ accommodation.id }}" 
										type="checkbox"
										ng-model="RoomController.room.accommodations[accommodation.id]">{{ accommodation.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

	
					
					</div><!-- ./box-body -->

					<div class="box-footer" 
						hook-form-button
						hook-form-button-bind-form="form"
						hook-form-button-bind-controller="RoomController"></div><!-- /.box-footer -->

				</form>

            </div><!-- ./nav-tabs-custom -->
		
		</div><!-- /.box -->

 	</div><!-- /.col -->

	<div class="col-md-4"
		hook-translation-view
		hook-translation-view-bind-model="RoomController.room"
		hook-translation-view-bind-get-language="HookController.ui.getLanguage()"
		hook-translation-view-bind-get-enabled-languages="HookController.ui.getEnabledLanguages()"></div><!-- /.col -->

</div><!-- /.row -->