<div class="box" 
	ng-controller="AdminRouteController as AdminRouteController" 
	ng-init="AdminRouteController.show()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ AdminRouteController.type | hookFilterTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="AdminRouteController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">
		
		<dl><!-- class="dl-horizontal" -->
			
			<dt>{{ 'templateUrl' | hookFilterTranslate | hookFilterTitle }}</dt><dd>{{ AdminRouteController.adminRoute.templateUrl }}</dd>
			
			<dt>{{ 'route' | hookFilterTranslate | hookFilterTitle }}</dt><dd>{{ AdminRouteController.adminRoute.route }}</dd>
			
			<dt>{{ 'model' | hookFilterTranslate | hookFilterTitle }}</dt><dd>{{ AdminRouteController.adminRoute.model }}</dd>
			
			<dt>{{ 'mode' | hookFilterTranslate | hookFilterTitle }}</dt><dd>{{ AdminRouteController.adminRoute.mode }}</dd>
			
		</dl>
	
	</div><!-- /.box-body -->
	








	<div class="box-footer">
	</div><!-- /.box-footer -->

</div><!-- /.box -->