<div class="row">
 	<div class="col-md-12">
 		
		<div class="box" 
			ng-controller="UserController as UserController" 
			ng-init="UserController.form()">

			<div class="box-header with-border">

				<h3 class="box-title">{{ UserController.mode | hookFilterTranslate | hookFilterTitle }} {{ 'user' | hookFilterTranslate | hookFilterTitle }}</h3>
				
				<div class="box-tools" 
					hook-action-button-box-tools 
					hook-action-button-box-tools-bind-controller="UserController"></div>

			</div><!-- /.box-header -->
			
			<!-- form start -->
			<form name="form"
				role="form"
				novalidate>
				
				<div class="box-body">
					
					<div class="form-group">
						
						<label for="text-user-username"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="username"
							hook-form-label-bind-required="true">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="username"></div>

						<input class="form-control" 
							id="text-user-username" 
							name="username"
							placeholder="{{ 'username' | hookFilterTranslate | hookFilterTitle }}"
							type="text" 
							ng-model="UserController.user.username"
							hook-validation-required
							hook-validation-min-length="4"
							hook-validation-max-length="20"
							hook-validation-no-special-characters
							hook-validation-unique
							hook-validation-unique-bind-controller="UserController"
							hook-validation-unique-bind-model="UserController.user"
							>
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="text-user-first-name"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="first_name"
							hook-form-label-bind-required="true">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="first_name"></div>

						<input class="form-control" 
							id="text-user-first-name" 
							name="first_name"
							placeholder="{{ 'first_name' | hookFilterTranslate | hookFilterTitle }}"
							type="text" 
							ng-model="UserController.user.first_name"
							hook-validation-required
							>
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="text-user-last-name"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="last_name"
							hook-form-label-bind-required="true">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="last_name"></div>

						<input class="form-control" 
							id="text-user-last-name" 
							name="last_name"
							placeholder="{{ 'last_name' | hookFilterTranslate | hookFilterTitle }}"
							type="text" 
							ng-model="UserController.user.last_name"
							hook-validation-required
							>
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="email-user-email"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="email"
							hook-form-label-bind-required="true">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="email"></div>

						<input class="form-control"
								id="email-user-email"
								name="email" 
								placeholder="{{ 'email' | hookFilterTranslate | hookFilterTitle }}"
								type="email"  
								ng-model="UserController.user.email"
								hook-validation-required
								hook-validation-email
								hook-validation-unique
								hook-validation-unique-bind-controller="UserController"
								hook-validation-unique-bind-model="UserController.user"
>
					
					</div><!-- /.form-group -->

					
					<div class="form-group" 
						ng-controller="UserPreferenceController as UserPreferenceController" >
						
						<label for="select-user-user-preference"
							hook-form-label
							hook-form-label-bind-form="form"
							hook-form-label-bind-field="user_preference"
							hook-form-label-bind-required="true">
							>
						</label>
						
						<select id="select-user-user-preference" 
								class="form-control" 
								name="user_preference"
								ng-model="UserController.user.preference"
								ng-options="preference.id as preference.name for preference in UserPreferenceController.preferences track by preference.id"></select>
					
					</div><!-- /.form-group -->

					
					<div class="form-group" 
						ng-controller="SiteController as SiteController" >
						
						<label for="checkbox-user-site"
							hook-form-label
							hook-form-label-bind-form="form"
							hook-form-label-bind-field="site"
							hook-form-label-bind-required="false">
							>
						</label>
						
						<div class="checkbox"
							ng-repeat="site in SiteController.sites">
							
							<label for="checkbox-user-site-{{ site.id }}">
								
								<input id="checkbox-user-site-{{ site.id }}" 
									type="checkbox"
									ng-model="UserController.user.sites[site.id]">{{ site.name }}
							
							</label>
						
						</div><!-- /.checkbox -->

					</div><!-- /.form-group -->
					<div class="form-group" 
						ng-controller="GroupController as GroupController" >
						
						<label for="checkbox-user-group"
							hook-form-label
							hook-form-label-bind-form="form"
							hook-form-label-bind-field="group"
							hook-form-label-bind-required="false">
							>
						</label>
						
						<div class="checkbox"
							ng-repeat="group in GroupController.groups">
							
							<label for="checkbox-user-group-{{ group.id }}">
								
								<input id="checkbox-user-group-{{ group.id }}" 
									type="checkbox"
									ng-model="UserController.user.groups[group.id]">{{ group.name }}
							
							</label>
						
						</div><!-- /.checkbox -->

					</div><!-- /.form-group -->


					
				</div><!-- /.box-body -->
				
				<div class="box-footer" 
					hook-form-button
					hook-form-button-bind-form="form"
					hook-form-button-bind-controller="UserController"></div><!-- /.box-footer -->
			
			</form>
		</div><!-- /.box -->

 	</div><!-- /.col -->
</div><!-- /.row -->