<!-- Main model: user -->

<div class="row"
	ng-controller="UserController as UserController" 
	ng-init="UserController.form()">
 	<div class="col-md-8">
 		
		<div class="box">

			<div class="box-header with-border">

				<h3 class="box-title">
					{{ ('ui.' + UserController.mode) | hookFilterMachineNameTranslate | hookFilterTitle }} {{ 'model.user' | hookFilterMachineNameTranslate | hookFilterTitle }}
				</h3>
				
				<div class="box-tools" 
					hook-action-button-box-tools 
					hook-action-button-box-tools-bind-controller="UserController"></div>

			</div><!-- /.box-header -->
			
			
			<div class="nav-tabs-custom">
                <ul class="nav nav-tabs" ng-init="UserController.displayLanguage=HookController.ui.getLanguage()">
                 
                  <li ng-class="{ 'active': UserController.displayLanguage==language.iso_2_code }"
                  	ng-repeat="(id, language) in HookController.ui.getEnableLanguages()">
                  
                  	<a href="" ng-click="UserController.displayLanguage=language.iso_2_code">
                  	
                  		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
                  	
                  		{{ language.name | hookFilterContentTranslate }}
                  	
                  	</a>
                 
                  </li>
                
                </ul>

				<!-- form start -->
				<form name="form"
						role="form"
						novalidate>

					<div class="box-body">
				
							
						<div class="form-group">

							<label for="text-user-username"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="username"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="username"></div>
							
							<input class="form-control" 
								id="text-user-username" 
								name="username"
								placeholder="{{ 'label.username' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="UserController.user.username"	 						
								hook-validation-required
								hook-validation-min-length="4"
								hook-validation-max-length="20"
								hook-validation-no-special-characters
								hook-validation-unique
								hook-validation-unique-bind-controller="UserController"
								hook-validation-unique-bind-model="UserController.user"
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-user-first-name"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="first_name"
								hook-form-label-bind-flag="HookController.ui.getFlagByIso2Code(UserController.displayLanguage)"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="first_name"></div>
							
							<input class="form-control" 
								id="text-user-first-name" 
								name="first_name"
								placeholder="{{ 'label.first_name' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="UserController.user.first_name[UserController.displayLanguage]"	 						
								hook-validation-required
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-user-last-name"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="last_name"
								hook-form-label-bind-flag="HookController.ui.getFlagByIso2Code(UserController.displayLanguage)"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="last_name"></div>
							
							<input class="form-control" 
								id="text-user-last-name" 
								name="last_name"
								placeholder="{{ 'label.last_name' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="UserController.user.last_name[UserController.displayLanguage]"	 						
								hook-validation-required
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="email-user-email"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="email"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="email"></div>
							
							<input class="form-control"
									id="email-user-email"
									name="email" 
									placeholder="{{ 'label.email' | hookFilterMachineNameTranslate | hookFilterTitle }}"
									type="email"  
									ng-model="UserController.user.email"
									hook-validation-required
									hook-validation-email
									hook-validation-unique
									hook-validation-unique-bind-controller="UserController"
									hook-validation-unique-bind-model="UserController.user"
>
						
						</div><!-- /.form-group -->

	
						<!-- Main model: user, Relationship alias: preference, Relationship model: user_preference -->

						<div class="form-group" 
							ng-controller="UserPreferenceController as UserPreferenceController" >
							
							<label for="select-user-preference"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="preference"
								hook-form-label-bind-required="true"></label>
							
							<select id="select-user-preference" 
									class="form-control" 
									name="preference"
									ng-model="UserController.user.preference"
									ng-options="preference.id as (preference.name | hookFilterContentTranslate) for preference in UserPreferenceController.preferences track by preference.id"></select>
						
						</div><!-- /.form-group -->

		
						<!-- Main model: user, Relationship alias: groups, Relationship model: group -->

						<div class="form-group" 
							ng-controller="GroupController as GroupController" >
							
							<label for="checkbox-user-groups"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="groups"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="groups in GroupController.groups">
								
								<label for="checkbox-user-groups-{{ groups.id }}">
									
									<input id="checkbox-user-groups-{{ groups.id }}" 
										type="checkbox"
										ng-model="UserController.user.groups[groups.id]">{{ groups.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: user, Relationship alias: sites, Relationship model: site -->

						<div class="form-group" 
							ng-controller="SiteController as SiteController" >
							
							<label for="checkbox-user-sites"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="sites"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="sites in SiteController.sites">
								
								<label for="checkbox-user-sites-{{ sites.id }}">
									
									<input id="checkbox-user-sites-{{ sites.id }}" 
										type="checkbox"
										ng-model="UserController.user.sites[sites.id]">{{ sites.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

	
					
					</div><!-- ./box-body -->

					<div class="box-footer" 
						hook-form-button
						hook-form-button-bind-form="form"
						hook-form-button-bind-controller="UserController"></div><!-- /.box-footer -->

				</form>

            </div><!-- ./nav-tabs-custom -->
		
		</div><!-- /.box -->

 	</div><!-- /.col -->

	<div class="col-md-4">
	 	
	 	<div class="box">
	 		<div class="box-header with-border">
			
				<h3 class="box-title">{{ 'ui.translation_view' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
		
			</div><!-- /.box-header -->

			<div class="nav-tabs-custom" ng-init="UserController.displayLanguageView=HookController.ui.getLanguage()">
                
                <ul class="nav nav-tabs">
                 
                  <li ng-class="{ 'active': UserController.displayLanguageView==language.iso_2_code }"
                  	ng-repeat="(id, language) in HookController.ui.getEnableLanguages()">
                  
                  	<a href="" ng-click="UserController.displayLanguageView=language.iso_2_code">
                  	
                  		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
                  	
                  		{{ language.name | hookFilterContentTranslate }}
                  	
                  	</a>
                 
                  </li>
                
                </ul>

				<div class="tab-content">
				
					<dl><!-- class="dl-horizontal" -->
					
						<dt>{{ 'label.first_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
						<dd>{{ UserController.user.first_name | hookFilterContentTranslate: UserController.displayLanguageView }}</dd>
						<dt>{{ 'label.last_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
						<dd>{{ UserController.user.last_name | hookFilterContentTranslate: UserController.displayLanguageView }}</dd>
					</dl>
			
				</div><!-- /.tab-content -->

 		    </div><!-- /.nav-tabs-custom -->
 		
 		</div><!-- /.box -->

 	</div><!-- /.col -->

</div><!-- /.row -->