<!-- Main model: accommodation_facility -->

<div class="row"
	ng-controller="AccommodationFacilityController as AccommodationFacilityController" 
	ng-init="AccommodationFacilityController.form()">
 	<div class="col-md-8">
 		
		<div class="box">

			<div class="box-header with-border">

				<h3 class="box-title">
					{{ ('ui.' + AccommodationFacilityController.mode) | hookFilterMachineNameTranslate | hookFilterTitle }} {{ 'model.accommodation_facility' | hookFilterMachineNameTranslate | hookFilterTitle }}
				</h3>
				
				<div class="box-tools" 
					hook-action-button-box-tools 
					hook-action-button-box-tools-bind-controller="AccommodationFacilityController"></div>

			</div><!-- /.box-header -->
			
			
			<div class="nav-tabs-custom">
                <ul class="nav nav-tabs" ng-init="AccommodationFacilityController.displayLanguage=HookController.ui.getLanguage()">
                 
                  <li ng-class="{ 'active': AccommodationFacilityController.displayLanguage==language.iso_2_code }"
                  	ng-repeat="(id, language) in HookController.ui.getEnabledLanguages()">
                  
                  	<a href="" ng-click="AccommodationFacilityController.displayLanguage=language.iso_2_code">
                  	
                  		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
                  	
                  		{{ language.name | hookFilterContentTranslate }}
                  	
                  	</a>
                 
                  </li>
                
                </ul>

				<!-- form start -->
				<form name="form"
						role="form"
						novalidate>

					<div class="box-body">
				
							
						<div class="form-group">

							<label for="text-accommodation-facility-icon"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="icon"
								hook-form-label-bind-required="false"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="icon"></div>
							
							<input class="form-control" 
								id="text-accommodation-facility-icon" 
								name="icon"
								placeholder="{{ 'label.icon' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="AccommodationFacilityController.facility.icon"	 						
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-accommodation-facility-name"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="name"
								hook-form-label-bind-flag="HookController.ui.getFlagByIso2Code(AccommodationFacilityController.displayLanguage)"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="name"></div>
							
							<input class="form-control" 
								id="text-accommodation-facility-name" 
								name="name"
								placeholder="{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="AccommodationFacilityController.facility.name[AccommodationFacilityController.displayLanguage]"	 						
								hook-validation-required
								>
						
						</div><!-- /.form-group -->

	
		
						<!-- Main model: accommodation_facility, Relationship alias: accommodations, Relationship model: accommodation -->

						<div class="form-group" 
							ng-controller="AccommodationController as AccommodationController" >
							
							<label for="checkbox-accommodation-facility-accommodations"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="accommodations"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="accommodations in AccommodationController.accommodations">
								
								<label for="checkbox-accommodation-facility-accommodations-{{ accommodations.id }}">
									
									<input id="checkbox-accommodation-facility-accommodations-{{ accommodations.id }}" 
										type="checkbox"
										ng-model="AccommodationFacilityController.accommodationFacility.accommodations[accommodations.id]">{{ accommodations.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

	
					
					</div><!-- ./box-body -->

					<div class="box-footer" 
						hook-form-button
						hook-form-button-bind-form="form"
						hook-form-button-bind-controller="AccommodationFacilityController"></div><!-- /.box-footer -->

				</form>

            </div><!-- ./nav-tabs-custom -->
		
		</div><!-- /.box -->

 	</div><!-- /.col -->

	<div class="col-md-4"
		hook-translation-view
		hook-translation-view-bind-model="AccommodationFacilityController.facility"
		hook-translation-view-bind-get-language="HookController.ui.getLanguage()"
		hook-translation-view-bind-get-enabled-languages="HookController.ui.getEnabledLanguages()"></div><!-- /.col -->

</div><!-- /.row -->