<div class="box" 
	ng-controller="MachineNameController as MachineNameController" 
	ng-init="MachineNameController.list()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ MachineNameController.type | translate | title }}</h3>
		
		<div class="box-tools" 
			action-buttons-resource 
			bind-controller="MachineNameController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">
		
		<table class="table table-bordered table-hover"
			id="table-group"> 
			
			<thead>
				
				<tr>
			
					<th class="table-index-column-width">#</th>
					
					<th>{{ 'name' | translate | title }}</th>
					
					<th class="table-action-column-width">{{ 'actions' | translate | title }}</th>
				
				</tr>
			
			</thead>
			
			<tbody>
				
				<tr ng-repeat="(id, machineName) in MachineNameController.machineNames">
					
					<td>{{ $index + 1 }}</td>
					
					<td>{{ machineName.name }}</td>
					
					<td action-buttons-list 
						bind-buttons-type="list" 
						bind-resource="machineName" 
						bind-controller="MachineNameController">
					</td>
				
				</tr>
			
			</tbody>
		
		</table>
	
	</div><!-- /.box-body -->
	
	<div class="box-footer">
	</div><!-- /.box-footer -->

</div><!-- /.box -->