<div class="box" 
	ng-controller="MachineNameController as MachineNameController" 
	ng-init="MachineNameController.show()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ MachineNameController.type | translate | title }}</h3>
		
		<div class="box-tools" 
			action-buttons-resource 
			bind-controller="MachineNameController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">
		
		<dl><!-- class="dl-horizontal" -->
			
			<dt>{{ 'name' | translate | title }}</dt><dd>{{ MachineNameController.machineName.name }}</dd>
			
		</dl>
	
	</div><!-- /.box-body -->
	




	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'machine_name_translation' | translate | title }}</h3>
		
		<div class="box-tools"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">

		<table class="table no-border table-hover"
			id="table-group"> 
			
			<thead>
				
				<tr>
			
					<th class="table-index-column-width">#</th>
					
					<th>{{ 'translation' | translate | title }}</th>
					
					<th>{{ 'language' | translate | title }}</th>
					
				
				</tr>
			
			</thead>
			
			<tbody>
				
				<tr ng-repeat="(id, machineNameTranslation) in MachineNameController.machineName.machineNameTranslations">
					
					<td>{{ $index + 1 }}</td>
					
					<td>{{ machineNameTranslation.translation }}</td>
					
					<td>{{ machineNameTranslation.language }}</td>
					
				
				</tr>
			
			</tbody>
		
		</table>

	</div><!-- /.box-body -->






	<div class="box-footer">
	</div><!-- /.box-footer -->

</div><!-- /.box -->