<div class="box" 
	ng-controller="GroupController as GroupController" 
	ng-init="GroupController.show()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">Group</h3>
		
		<div class="box-tools" 
			action-buttons-resource 
			bind-controller="GroupController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">
		
		<dl><!-- class="dl-horizontal" -->
			
			<dt>Name</dt><dd>{{ GroupController.group.name }}</dd>
			
			<dt>Order</dt><dd>{{ GroupController.group.order }}</dd>
			
		</dl>
	
	</div><!-- /.box-body -->
	




	<div class="box-header with-border">
		
		<h3 class="box-title">User</h3>
		
		<div class="box-tools"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">

		<table class="table no-border table-hover"
			id="table-group"> 
			
			<thead>
				
				<tr>
			
					<th class="table-index-column-width">#</th>
					
					<th>Username</th>
					
					<th>First Name</th>
					
					<th>Last Name</th>
					
					<th>Email</th>
					
					<th class="table-action-column-width">Action</th>
				
				</tr>
			
			</thead>
			
			<tbody>
				
				<tr ng-repeat="(id, user) in GroupController.group.users">
					
					<td>{{ $index + 1 }}</td>
					
					<td>{{ user.username }}</td>
					
					<td>{{ user.first_name }}</td>
					
					<td>{{ user.last_name }}</td>
					
					<td>{{ user.email }}</td>
					
					<td>
					<a href="/#/user/show/{{ id }}"
						class="btn btn-xs btn-primary">Show</a>
					</td>
				
				</tr>
			
			</tbody>
		
		</table>

	</div><!-- /.box-body -->






	<div class="box-footer">
	</div><!-- /.box-footer -->

</div><!-- /.box -->