<div class="box" 
	ng-controller="AdminMainMenuController as AdminMainMenuController" 
	ng-init="AdminMainMenuController.show()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ AdminMainMenuController.type | hookFilterTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="AdminMainMenuController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">
		
		<dl><!-- class="dl-horizontal" -->
			
			<dt>{{ 'href' | hookFilterTranslate | hookFilterTitle }}</dt><dd>{{ AdminMainMenuController.adminMainMenu.href }}</dd>
			
			<dt>{{ 'name' | hookFilterTranslate | hookFilterTitle }}</dt><dd>{{ AdminMainMenuController.adminMainMenu.name }}</dd>
			
			<dt>{{ 'icon' | hookFilterTranslate | hookFilterTitle }}</dt><dd>{{ AdminMainMenuController.adminMainMenu.icon }}</dd>
			
		</dl>
	
	</div><!-- /.box-body -->
	




	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'admin_submenu' | hookFilterTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">

		<table class="table no-border table-hover"
			id="table-group"> 
			
			<thead>
				
				<tr>
			
					<th class="table-index-column-width">#</th>
					
					<th>{{ 'href' | hookFilterTranslate | hookFilterTitle }}</th>
					
					<th>{{ 'name' | hookFilterTranslate | hookFilterTitle }}</th>
					
				
				</tr>
			
			</thead>
			
			<tbody>
				
				<tr ng-repeat="(id, adminSubmenu) in AdminMainMenuController.adminMainMenu.adminSubmenus">
					
					<td>{{ $index + 1 }}</td>
					
					<td>{{ adminSubmenu.href }}</td>
					
					<td>{{ adminSubmenu.name }}</td>
					
				
				</tr>
			
			</tbody>
		
		</table>

	</div><!-- /.box-body -->


	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'group' | hookFilterTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">

		<table class="table no-border table-hover"
			id="table-group"> 
			
			<thead>
				
				<tr>
			
					<th class="table-index-column-width">#</th>
					
					<th>{{ 'name' | hookFilterTranslate | hookFilterTitle }}</th>
					
					<th>{{ 'weight' | hookFilterTranslate | hookFilterTitle }}</th>
					
				
				</tr>
			
			</thead>
			
			<tbody>
				
				<tr ng-repeat="(id, group) in AdminMainMenuController.adminMainMenu.groups">
					
					<td>{{ $index + 1 }}</td>
					
					<td>{{ group.name }}</td>
					
					<td>{{ group.weight }}</td>
					
				
				</tr>
			
			</tbody>
		
		</table>

	</div><!-- /.box-body -->






	<div class="box-footer">
	</div><!-- /.box-footer -->

</div><!-- /.box -->