<!-- Main model: room_combination -->

<div class="box" 
	ng-controller="RoomCombinationController as RoomCombinationController" 
	ng-init="RoomCombinationController.show()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'model.room_combination' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="RoomCombinationController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="nav-tabs-custom">

        <ul class="nav nav-tabs" ng-init="RoomCombinationController.displayLanguage=HookController.ui.getLanguage()">
         
          <li ng-class="{ 'active': RoomCombinationController.displayLanguage==language.iso_2_code }"
          	ng-repeat="(id, language) in HookController.ui.getEnableLanguages()">
          
          	<a href="" ng-click="RoomCombinationController.displayLanguage=language.iso_2_code">
          	
          		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
          	
          		{{ language.name | hookFilterContentTranslate }}
          	
          	</a>
         
          </li>
        
        </ul>


		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.room_type' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ RoomCombinationController.roomCombination.room_type }}</dd>
				
				<dt>{{ 'label.bed_combination' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ RoomCombinationController.roomCombination.bed_combination | hookFilterContentTranslate: RoomCombinationController.displayLanguage }}</dd>
				
				<dt>{{ 'label.max_people' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ RoomCombinationController.roomCombination.max_people }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->
	
		<!-- Main model: room_combination, Relationship alias: roomTypeAccommodations, Relationship model: accommodation -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.room_type_accommodations' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.description' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.size' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.rooms' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.price' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.extra_bed_price' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.max_quantity' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.max_extra_bed' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, accommodation) in RoomCombinationController.roomCombination.roomTypeAccommodations">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ accommodation.name | hookFilterContentTranslate: RoomCombinationController.displayLanguage }}</td>
						
						<td>{{ accommodation.description | hookFilterContentTranslate: RoomCombinationController.displayLanguage }}</td>
						
						<td>{{ accommodation.size }}</td>
						
						<td>{{ accommodation.rooms }}</td>
						
						<td>{{ accommodation.price }}</td>
						
						<td>{{ accommodation.extra_bed_price }}</td>
						
						<td>{{ accommodation.max_quantity }}</td>
						
						<td>{{ accommodation.max_extra_bed }}</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->


	<div class="box-footer">
	</div><!-- /.box-footer -->


	</div><!-- ./nav-tabs-custom -->

</div><!-- /.box -->