<div class="box" 
	ng-controller="SiteController as SiteController" 
	ng-init="SiteController.list()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ SiteController.type | hookFilterTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="SiteController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">
		
		<table class="table table-bordered table-hover"
			id="table-group"> 
			
			<thead>
				
				<tr>
			
					<th class="table-index-column-width">#</th>
					
					<th>{{ 'domain' | hookFilterTranslate | hookFilterTitle }}</th>

					<th>{{ 'subdomain' | hookFilterTranslate | hookFilterTitle }}</th>

					<th>{{ 'name' | hookFilterTranslate | hookFilterTitle }}</th>

					<th class="table-action-column-width">{{ 'actions' | hookFilterTranslate | hookFilterTitle }}</th>
				
				</tr>
			
			</thead>
			
			<tbody>
				
				<tr ng-repeat="(id, site) in SiteController.sites">
					
					<td>{{ $index + 1 }}</td>
					
					<td>{{ site.domain }}</td>

					<td>{{ site.subdomain }}</td>

					<td>{{ site.name }}</td>

					<td hook-action-button-list 
						hook-action-button-list-bind-resource="site" 
						hook-action-button-list-bind-controller="SiteController">
					</td>
				
				</tr>
			
			</tbody>
		
		</table>
	
	</div><!-- /.box-body -->
	
	<div class="box-footer">
	</div><!-- /.box-footer -->

</div><!-- /.box -->