<!-- Main model: site -->

<div class="box" 
	ng-controller="SiteController as SiteController" 
	ng-init="SiteController.show()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'model.site' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="SiteController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="nav-tabs-custom">

        <ul class="nav nav-tabs" ng-init="SiteController.displayLanguage=HookController.ui.getLanguage()">
         
          <li ng-class="{ 'active': SiteController.displayLanguage==language.iso_2_code }"
          	ng-repeat="(id, language) in HookController.ui.getEnabledLanguages()">
          
          	<a href="" ng-click="SiteController.displayLanguage=language.iso_2_code">
          	
          		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
          	
          		{{ language.name | hookFilterContentTranslate }}
          	
          	</a>
         
          </li>
        
        </ul>


		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.name | hookFilterContentTranslate: SiteController.displayLanguage }}</dd>
				
				<dt>{{ 'label.domain' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.domain }}</dd>
				
				<dt>{{ 'label.subdomain' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.subdomain }}</dd>
				
				<dt>{{ 'label.address' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.address | hookFilterContentTranslate: SiteController.displayLanguage }}</dd>
				
				<dt>{{ 'label.telephone' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.telephone }}</dd>
				
				<dt>{{ 'label.fax' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.fax }}</dd>
				
				<dt>{{ 'label.email' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.email }}</dd>
				
				<dt>{{ 'label.facebook_link' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.facebook_link }}</dd>
				
				<dt>{{ 'label.twitter_link' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.twitter_link }}</dd>
				
				<dt>{{ 'label.tripadvisor_link' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.tripadvisor_link }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->
	
		<!-- Main model: site, Relationship alias: plan, Relationship model: plan -->
		
		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.plan' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.plan | hookFilterByFieldValue: 'name' | hookFilterContentTranslate: SiteController.displayLanguage }}</dd>
				
				<dt>{{ 'label.description' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.plan | hookFilterByFieldValue: 'description' | hookFilterContentTranslate: SiteController.displayLanguage }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->

		<!-- Main model: site, Relationship alias: defaultLanguage, Relationship model: language -->
		
		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.default_language' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.defaultLanguage | hookFilterByFieldValue: 'name' | hookFilterContentTranslate: SiteController.displayLanguage }}</dd>
				
				<dt>{{ 'label.flag' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.defaultLanguage | hookFilterByFieldValue: 'flag' }}</dd>
				
				<dt>{{ 'label.native_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.defaultLanguage | hookFilterByFieldValue: 'native_name' }}</dd>
				
				<dt>{{ 'label.iso_2_code' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ SiteController.site.defaultLanguage | hookFilterByFieldValue: 'iso_2_code' }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->

		<!-- Main model: site, Relationship alias: groups, Relationship model: group -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.groups' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.weight' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, group) in SiteController.site.groups">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ group.name | hookFilterContentTranslate: SiteController.displayLanguage }}</td>
						
						<td>{{ group.weight }}</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->

		<!-- Main model: site, Relationship alias: users, Relationship model: user -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.users' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.username' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.first_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.last_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.email' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, user) in SiteController.site.users">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ user.username }}</td>
						
						<td>{{ user.first_name | hookFilterContentTranslate: SiteController.displayLanguage }}</td>
						
						<td>{{ user.last_name | hookFilterContentTranslate: SiteController.displayLanguage }}</td>
						
						<td>{{ user.email }}</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->

		<!-- Main model: site, Relationship alias: accommodations, Relationship model: accommodation -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.accommodations' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.description' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.square_area' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.price' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.extra_bed_price' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.max_extra_bed' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.max_quantity' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.max_children' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.bathrooms' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th class="text-center">{{ 'label.is_parent' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, accommodation) in SiteController.site.accommodations">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ accommodation.name | hookFilterContentTranslate: SiteController.displayLanguage }}</td>
						
						<td>{{ accommodation.description | hookFilterContentTranslate: SiteController.displayLanguage }}</td>
						
						<td>{{ accommodation.square_area }}</td>
						
						<td>{{ accommodation.price }}</td>
						
						<td>{{ accommodation.extra_bed_price }}</td>
						
						<td>{{ accommodation.max_extra_bed }}</td>
						
						<td>{{ accommodation.max_quantity }}</td>
						
						<td>{{ accommodation.max_children }}</td>
						
						<td>{{ accommodation.bathrooms }}</td>
						
						<td class="text-center" 
							ng-class="accommodation.is_parent ? 'text-success':'text-danger'">
							<span class="fa" 
								ng-class="accommodation.is_parent ? 'fa-check':'fa-close'"></span>
						</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->

		<!-- Main model: site, Relationship alias: facilities, Relationship model: resort_facility -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.facilities' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.icon' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, facility) in SiteController.site.facilities">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ facility.icon }}</td>
						
						<td>{{ facility.name | hookFilterContentTranslate: SiteController.displayLanguage }}</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->

		<!-- Main model: site, Relationship alias: enabledLanguages, Relationship model: language -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.enabled_languages' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.flag' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.native_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.iso_2_code' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, language) in SiteController.site.enabledLanguages">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ language.name | hookFilterContentTranslate: SiteController.displayLanguage }}</td>
						
						<td>{{ language.flag }}</td>
						
						<td>{{ language.native_name }}</td>
						
						<td>{{ language.iso_2_code }}</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->

		<!-- Main model: site, Relationship alias: publishedLanguages, Relationship model: language -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.published_languages' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.flag' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.native_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.iso_2_code' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, language) in SiteController.site.publishedLanguages">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ language.name | hookFilterContentTranslate: SiteController.displayLanguage }}</td>
						
						<td>{{ language.flag }}</td>
						
						<td>{{ language.native_name }}</td>
						
						<td>{{ language.iso_2_code }}</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->

		<!-- Main model: site, Relationship alias: pages, Relationship model: page -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.pages' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.meta_title' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.meta_description' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.meta_keywords' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.weight' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th class="text-center">{{ 'label.is_main_menu' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th class="text-center">{{ 'label.is_footer_menu' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, page) in SiteController.site.pages">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ page.name }}</td>
						
						<td>{{ page.meta_title | hookFilterContentTranslate: SiteController.displayLanguage }}</td>
						
						<td>{{ page.meta_description | hookFilterContentTranslate: SiteController.displayLanguage }}</td>
						
						<td>{{ page.meta_keywords | hookFilterContentTranslate: SiteController.displayLanguage }}</td>
						
						<td>{{ page.weight }}</td>
						
						<td class="text-center" 
							ng-class="page.is_main_menu ? 'text-success':'text-danger'">
							<span class="fa" 
								ng-class="page.is_main_menu ? 'fa-check':'fa-close'"></span>
						</td>
						
						<td class="text-center" 
							ng-class="page.is_footer_menu ? 'text-success':'text-danger'">
							<span class="fa" 
								ng-class="page.is_footer_menu ? 'fa-check':'fa-close'"></span>
						</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->

		<!-- Main model: site, Relationship alias: orders, Relationship model: order -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.orders' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th class="text-center">{{ 'label.paid' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, machineNameTranslation) in SiteController.site.orders">
						
						<td>{{ $index + 1 }}</td>
						
						<td class="text-center" 
							ng-class="machineNameTranslation.paid ? 'text-success':'text-danger'">
							<span class="fa" 
								ng-class="machineNameTranslation.paid ? 'fa-check':'fa-close'"></span>
						</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->

		<!-- Main model: site, Relationship alias: payments, Relationship model: payment -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.payments' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.first_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.last_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.cardholder_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.billing_address_line_1' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.billing_address_line_2' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.city' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.country' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.postal_code' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.credit_card_number' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.cvc' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.exp_month' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.exp_year' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.email' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.phone_area_code' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.phone_number' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, payment) in SiteController.site.payments">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ payment.first_name }}</td>
						
						<td>{{ payment.last_name }}</td>
						
						<td>{{ payment.cardholder_name }}</td>
						
						<td>{{ payment.billing_address_line_1 }}</td>
						
						<td>{{ payment.billing_address_line_2 }}</td>
						
						<td>{{ payment.city }}</td>
						
						<td>{{ payment.country }}</td>
						
						<td>{{ payment.postal_code }}</td>
						
						<td>{{ payment.credit_card_number }}</td>
						
						<td>{{ payment.cvc }}</td>
						
						<td>{{ payment.exp_month }}</td>
						
						<td>{{ payment.exp_year }}</td>
						
						<td>{{ payment.email }}</td>
						
						<td>{{ payment.phone_area_code }}</td>
						
						<td>{{ payment.phone_number }}</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->


	<div class="box-footer">
	</div><!-- /.box-footer -->


	</div><!-- ./nav-tabs-custom -->

</div><!-- /.box -->