<div class="box" 
	ng-controller="UserController as UserController" 
	ng-init="UserController.show()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ UserController.type | translate: 'title' }}</h3>
		
		<div class="box-tools" 
			action-buttons-resource 
			bind-controller="UserController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">
		
		<dl><!-- class="dl-horizontal" -->
			
			<dt>{{ 'username' | translate: 'title' }}</dt><dd>{{ UserController.user.username }}</dd>
			
			<dt>{{ 'first_name' | translate: 'title' }}</dt><dd>{{ UserController.user.first_name }}</dd>
			
			<dt>{{ 'last_name' | translate: 'title' }}</dt><dd>{{ UserController.user.last_name }}</dd>
			
			<dt>{{ 'email' | translate: 'title' }}</dt><dd>{{ UserController.user.email }}</dd>
			
		</dl>
	
	</div><!-- /.box-body -->
	

	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'user_preference' | translate: 'title' }}</h3>
		
		<div class="box-tools"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">
		
		<dl><!-- class="dl-horizontal" -->
			
			<dt>{{ 'admin_skin' | translate: 'title' }}</dt><dd>{{ UserController.user.preference | fieldValue: 'admin_skin' }}</dd>
			
			<dt>{{ 'language' | translate: 'title' }}</dt><dd>{{ UserController.user.preference | fieldValue: 'language' }}</dd>
			
		</dl>
	
	</div><!-- /.box-body -->





	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'group' | translate: 'title' }}</h3>
		
		<div class="box-tools"></div>
	
	</div><!-- /.box-header -->
	
	<div class="box-body">

		<table class="table no-border table-hover"
			id="table-group"> 
			
			<thead>
				
				<tr>
			
					<th class="table-index-column-width">#</th>
					
					<th>{{ 'name' | translate: 'title' }}</th>
					
					<th>{{ 'weight' | translate: 'title' }}</th>
					
				
				</tr>
			
			</thead>
			
			<tbody>
				
				<tr ng-repeat="(id, group) in UserController.user.groups">
					
					<td>{{ $index + 1 }}</td>
					
					<td>{{ group.name }}</td>
					
					<td>{{ group.weight }}</td>
					
				
				</tr>
			
			</tbody>
		
		</table>

	</div><!-- /.box-body -->






	<div class="box-footer">
	</div><!-- /.box-footer -->

</div><!-- /.box -->