<div class="row">
 	<div class="col-md-12">
 		
		<div class="box" 
			ng-controller="FeatureController as FeatureController" 
			ng-init="FeatureController.form()">

			<div class="box-header with-border">

				<h3 class="box-title">{{ FeatureController.mode | hookFilterTranslate | hookFilterTitle }} {{ 'feature' | hookFilterTranslate | hookFilterTitle }}</h3>
				
				<div class="box-tools" 
					hook-action-button-box-tools 
					hook-action-button-box-tools-bind-controller="FeatureController"></div>

			</div><!-- /.box-header -->
			
			<!-- form start -->
			<form name="form"
				role="form"
				novalidate>
				
				<div class="box-body">
					
					<div class="form-group">
						
						<label for="text-feature-machine-name"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="machine_name"
							hook-form-label-bind-required="true">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="machine_name"></div>

						<input class="form-control" 
							id="text-feature-machine-name" 
							name="machine_name"
							placeholder="{{ 'machine_name' | hookFilterTranslate | hookFilterTitle }}"
							type="text" 
							ng-model="FeatureController.feature.machine_name"
							hook-validation-required
							>
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="text-feature-description"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="description"
							hook-form-label-bind-required="false">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="description"></div>

						<input class="form-control" 
							id="text-feature-description" 
							name="description"
							placeholder="{{ 'description' | hookFilterTranslate | hookFilterTitle }}"
							type="text" 
							ng-model="FeatureController.feature.description"
							>
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="text-feature-weight"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="weight"
							hook-form-label-bind-required="true">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="weight"></div>

						<input class="form-control" 
							id="text-feature-weight" 
							name="weight"
							placeholder="{{ 'weight' | hookFilterTranslate | hookFilterTitle }}"
							type="text" 
							ng-model="FeatureController.feature.weight"
							hook-validation-required
							hook-validation-number
							>
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="boolean-feature-owner"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="owner"
							hook-form-label-bind-required="true">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="owner"></div>

						<div class="radio">
							<label>
								<input type="radio" 
									ng-value="true"
									ng-model="FeatureController.feature.owner"
									ng-checked="FeatureController.feature.owner">
								True
							</label>
							<label>
								<input type="radio" 
									ng-value="false"
									ng-model="FeatureController.feature.owner"
									ng-checked="!FeatureController.feature.owner">
								False
							</label>
						</div>
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="text-feature-icon"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="icon"
							hook-form-label-bind-required="false">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="icon"></div>

						<input class="form-control" 
							id="text-feature-icon" 
							name="icon"
							placeholder="{{ 'icon' | hookFilterTranslate | hookFilterTitle }}"
							type="text" 
							ng-model="FeatureController.feature.icon"
							>
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="boolean-feature-hide-from-menu"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="hide_from_menu"
							hook-form-label-bind-required="true">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="hide_from_menu"></div>

						<div class="radio">
							<label>
								<input type="radio" 
									ng-value="true"
									ng-model="FeatureController.feature.hide_from_menu"
									ng-checked="FeatureController.feature.hide_from_menu">
								True
							</label>
							<label>
								<input type="radio" 
									ng-value="false"
									ng-model="FeatureController.feature.hide_from_menu"
									ng-checked="!FeatureController.feature.hide_from_menu">
								False
							</label>
						</div>
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="text-feature-name"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="name"
							hook-form-label-bind-required="true">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="name"></div>

						<input class="form-control" 
							id="text-feature-name" 
							name="name"
							placeholder="{{ 'name' | hookFilterTranslate | hookFilterTitle }}"
							type="text" 
							ng-model="FeatureController.feature.name"
							hook-validation-required
							>
					
					</div><!-- /.form-group -->

					

					

					<div class="form-group" 
						ng-controller="BackendRouteController as BackendRouteController" >
						
						<label for="checkbox-feature-backend-route"
							hook-form-label
							hook-form-label-bind-form="form"
							hook-form-label-bind-field="backend_route"
							hook-form-label-bind-required="false">
							>
						</label>
						
						<div class="checkbox"
							ng-repeat="backendRoute in BackendRouteController.backendRoutes">
							
							<label for="checkbox-feature-backend-route-{{ backendRoute.id }}">
								
								<input id="checkbox-feature-backend-route-{{ backendRoute.id }}" 
									type="checkbox"
									ng-model="FeatureController.feature.backendRoutes[backendRoute.id]">{{ backendRoute.name }}
							
							</label>
						
						</div><!-- /.checkbox -->

					</div><!-- /.form-group -->

					<div class="form-group" 
						ng-controller="PlanController as PlanController" >
						
						<label for="checkbox-feature-plan"
							hook-form-label
							hook-form-label-bind-form="form"
							hook-form-label-bind-field="plan"
							hook-form-label-bind-required="false">
							>
						</label>
						
						<div class="checkbox"
							ng-repeat="plan in PlanController.plans">
							
							<label for="checkbox-feature-plan-{{ plan.id }}">
								
								<input id="checkbox-feature-plan-{{ plan.id }}" 
									type="checkbox"
									ng-model="FeatureController.feature.plans[plan.id]">{{ plan.name }}
							
							</label>
						
						</div><!-- /.checkbox -->

					</div><!-- /.form-group -->

					<div class="form-group" 
						ng-controller="GroupController as GroupController" >
						
						<label for="checkbox-feature-group"
							hook-form-label
							hook-form-label-bind-form="form"
							hook-form-label-bind-field="group"
							hook-form-label-bind-required="false">
							>
						</label>
						
						<div class="checkbox"
							ng-repeat="group in GroupController.groups">
							
							<label for="checkbox-feature-group-{{ group.id }}">
								
								<input id="checkbox-feature-group-{{ group.id }}" 
									type="checkbox"
									ng-model="FeatureController.feature.groups[group.id]">{{ group.name }}
							
							</label>
						
						</div><!-- /.checkbox -->

					</div><!-- /.form-group -->


					
				</div><!-- /.box-body -->
				
				<div class="box-footer" 
					hook-form-button
					hook-form-button-bind-form="form"
					hook-form-button-bind-controller="FeatureController"></div><!-- /.box-footer -->
			
			</form>
		</div><!-- /.box -->

 	</div><!-- /.col -->
</div><!-- /.row -->