<!-- Main model: language -->

<div class="row"
	ng-controller="LanguageController as LanguageController" 
	ng-init="LanguageController.form()">
 	<div class="col-md-8">
 		
		<div class="box">

			<div class="box-header with-border">

				<h3 class="box-title">
					{{ ('ui.' + LanguageController.mode) | hookFilterMachineNameTranslate | hookFilterTitle }} {{ 'model.language' | hookFilterMachineNameTranslate | hookFilterTitle }}
				</h3>
				
				<div class="box-tools" 
					hook-action-button-box-tools 
					hook-action-button-box-tools-bind-controller="LanguageController"></div>

			</div><!-- /.box-header -->
			
			
			<div class="nav-tabs-custom">
                <ul class="nav nav-tabs" ng-init="LanguageController.displayLanguage=HookController.ui.getLanguage()">
                 
                  <li ng-class="{ 'active': LanguageController.displayLanguage==language.iso_2_code }"
                  	ng-repeat="(id, language) in HookController.ui.getEnabledLanguages()">
                  
                  	<a href="" ng-click="LanguageController.displayLanguage=language.iso_2_code">
                  	
                  		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
                  	
                  		{{ language.name | hookFilterContentTranslate }}
                  	
                  	</a>
                 
                  </li>
                
                </ul>

				<!-- form start -->
				<form name="form"
						role="form"
						novalidate>

					<div class="box-body">
				
							
						<div class="form-group">

							<label for="text-language-name"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="name"
								hook-form-label-bind-flag="HookController.ui.getFlagByIso2Code(LanguageController.displayLanguage)"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="name"></div>
							
							<input class="form-control" 
								id="text-language-name" 
								name="name"
								placeholder="{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="LanguageController.language.name[LanguageController.displayLanguage]"	 						
								hook-validation-required
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-language-flag"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="flag"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="flag"></div>
							
							<input class="form-control" 
								id="text-language-flag" 
								name="flag"
								placeholder="{{ 'label.flag' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="LanguageController.language.flag"	 						
								hook-validation-required
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-language-native-name"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="native_name"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="native_name"></div>
							
							<input class="form-control" 
								id="text-language-native-name" 
								name="native_name"
								placeholder="{{ 'label.native_name' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="LanguageController.language.native_name"	 						
								hook-validation-required
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-language-iso-2-code"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="iso_2_code"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="iso_2_code"></div>
							
							<input class="form-control" 
								id="text-language-iso-2-code" 
								name="iso_2_code"
								placeholder="{{ 'label.iso_2_code' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="LanguageController.language.iso_2_code"	 						
								hook-validation-required
								>
						
						</div><!-- /.form-group -->

	
		
						<!-- Main model: language, Relationship alias: siteDefaultLanguages, Relationship model: site -->

						<div class="form-group" 
							ng-controller="SiteController as SiteController" >
							
							<label for="checkbox-language-site"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="site_default_languages"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="site in SiteController.sites">
								
								<label for="checkbox-language-site-{{ site.id }}">
									
									<input id="checkbox-language-site-{{ site.id }}" 
										type="checkbox"
										ng-model="LanguageController.language.siteDefaultLanguages[site.id]">{{ site.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: language, Relationship alias: siteEnabledLanguages, Relationship model: site -->

						<div class="form-group" 
							ng-controller="SiteController as SiteController" >
							
							<label for="checkbox-language-site"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="site_enabled_languages"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="site in SiteController.sites">
								
								<label for="checkbox-language-site-{{ site.id }}">
									
									<input id="checkbox-language-site-{{ site.id }}" 
										type="checkbox"
										ng-model="LanguageController.language.siteEnabledLanguages[site.id]">{{ site.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: language, Relationship alias: sitePublishedLanguages, Relationship model: site -->

						<div class="form-group" 
							ng-controller="SiteController as SiteController" >
							
							<label for="checkbox-language-site"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="site_published_languages"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="site in SiteController.sites">
								
								<label for="checkbox-language-site-{{ site.id }}">
									
									<input id="checkbox-language-site-{{ site.id }}" 
										type="checkbox"
										ng-model="LanguageController.language.sitePublishedLanguages[site.id]">{{ site.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: language, Relationship alias: userPreferences, Relationship model: user_preference -->

						<div class="form-group" 
							ng-controller="UserPreferenceController as UserPreferenceController" >
							
							<label for="checkbox-language-preference"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="user_preferences"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="preference in UserPreferenceController.preferences">
								
								<label for="checkbox-language-preference-{{ preference.id }}">
									
									<input id="checkbox-language-preference-{{ preference.id }}" 
										type="checkbox"
										ng-model="LanguageController.language.userPreferences[preference.id]">{{ preference.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: language, Relationship alias: machineNameTranslations, Relationship model: machine_name_translation -->

						<div class="form-group" 
							ng-controller="MachineNameTranslationController as MachineNameTranslationController" >
							
							<label for="checkbox-language-machine-name-translation"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="machine_name_translations"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="machineNameTranslation in MachineNameTranslationController.machineNameTranslations">
								
								<label for="checkbox-language-machine-name-translation-{{ machineNameTranslation.id }}">
									
									<input id="checkbox-language-machine-name-translation-{{ machineNameTranslation.id }}" 
										type="checkbox"
										ng-model="LanguageController.language.machineNameTranslations[machineNameTranslation.id]">{{ machineNameTranslation.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

	
					
					</div><!-- ./box-body -->

					<div class="box-footer" 
						hook-form-button
						hook-form-button-bind-form="form"
						hook-form-button-bind-controller="LanguageController"></div><!-- /.box-footer -->

				</form>

            </div><!-- ./nav-tabs-custom -->
		
		</div><!-- /.box -->

 	</div><!-- /.col -->

	<div class="col-md-4"
		hook-translation-view
		hook-translation-view-bind-model="LanguageController.language"
		hook-translation-view-bind-get-language="HookController.ui.getLanguage()"
		hook-translation-view-bind-get-enabled-languages="HookController.ui.getEnabledLanguages()"></div><!-- /.col -->

</div><!-- /.row -->