<div class="row">
 	<div class="col-md-12">
 		
		<div class="box" 
			ng-controller="GroupController as GroupController" 
			ng-init="GroupController.form()">

			<div class="box-header with-border">

				<h3 class="box-title">{{ GroupController.mode | translate | title }} {{ 'group' | translate | title }}</h3>
				
				<div class="box-tools" 
					action-buttons-resource 
					bind-controller="GroupController"></div>

			</div><!-- /.box-header -->
			
			<!-- form start -->
			<form name="form"
				role="form"
				novalidate>
				
				<div class="box-body">
					
					<div class="form-group">
						
						<label for="text-group-name"
							hook-label
							hook-label-bind-form="form"
							hook-label-bind-field="name"
							hook-label-bind-required="true">
						</label>
						
						<div hook-error-messages 
							hook-error-messages-bind-form="form"
							hook-error-messages-bind-field="name"></div>

						<input class="form-control" 
							id="text-group-name" 
							name="name"
							placeholder="{{ 'name' | translate | title }}"
							type="text" 
							ng-model="GroupController.group.name"
							hook-validation-required
							hook-validation-unique
							hook-validation-unique-bind-controller="GroupController"
							hook-validation-unique-bind-model="GroupController.group"
							>
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="number-group-weight"
							hook-label
							hook-label-bind-form="form"
							hook-label-bind-field="weight"
							hook-label-bind-required="true">
						</label>
						
						<div hook-error-messages 
							hook-error-messages-bind-form="form"
							hook-error-messages-bind-field="weight"></div>

						<input class="form-control"
								id="number-group-weight" 
								name="weight"
								placeholder="{{ 'weight' | translate | title }}"
								type="number"  
								ng-model="GroupController.group.weight"
								hook-validation-required
								hook-validation-number
								>
					
					</div><!-- /.form-group -->

					

					
					<div class="form-group" 
						ng-controller="UserController as UserController" >
						
						<label for="checkbox-group-user"
							hook-label
							hook-label-bind-form="form"
							hook-label-bind-field="user"
							hook-label-bind-required="false">
							>
						</label>
						
						<div class="checkbox"
							ng-repeat="user in UserController.users">
							
							<label for="checkbox-group-user-{{ user.id }}">
								
								<input id="checkbox-group-user-{{ user.id }}" 
									type="checkbox"
									ng-model="GroupController.group.users[user.id]">{{ user.name }}
							
							</label>
						
						</div><!-- /.checkbox -->

					</div><!-- /.form-group -->


					
				</div><!-- /.box-body -->
				
				<div class="box-footer" 
					form-buttons
					bind-form="form"
					bind-controller="GroupController"></div><!-- /.box-footer -->
			
			</form>
		</div><!-- /.box -->

 	</div><!-- /.col -->
</div><!-- /.row -->