<!-- Main model: plan -->

<div class="row"
	ng-controller="PlanController as PlanController" 
	ng-init="PlanController.form()">
 	<div class="col-md-8">
 		
		<div class="box">

			<div class="box-header with-border">

				<h3 class="box-title">
					{{ ('ui.' + PlanController.mode) | hookFilterMachineNameTranslate | hookFilterTitle }} {{ 'model.plan' | hookFilterMachineNameTranslate | hookFilterTitle }}
				</h3>
				
				<div class="box-tools" 
					hook-action-button-box-tools 
					hook-action-button-box-tools-bind-controller="PlanController"></div>

			</div><!-- /.box-header -->
			
			
			<div class="nav-tabs-custom">
                <ul class="nav nav-tabs" ng-init="PlanController.displayLanguage=HookController.ui.getLanguage()">
                 
                  <li ng-class="{ 'active': PlanController.displayLanguage==language.iso_2_code }"
                  	ng-repeat="(id, language) in HookController.ui.getEnabledLanguages()">
                  
                  	<a href="" ng-click="PlanController.displayLanguage=language.iso_2_code">
                  	
                  		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
                  	
                  		{{ language.name | hookFilterContentTranslate }}
                  	
                  	</a>
                 
                  </li>
                
                </ul>

				<!-- form start -->
				<form name="form"
						role="form"
						novalidate>

					<div class="box-body">
				
							
						<div class="form-group">

							<label for="text-plan-name"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="name"
								hook-form-label-bind-flag="HookController.ui.getFlagByIso2Code(PlanController.displayLanguage)"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="name"></div>
							
							<input class="form-control" 
								id="text-plan-name" 
								name="name"
								placeholder="{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="PlanController.plan.name[PlanController.displayLanguage]"	 						
								hook-validation-required
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="textarea-plan-description"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="description"
								hook-form-label-bind-flag="HookController.ui.getFlagByIso2Code(PlanController.displayLanguage)"
								hook-form-label-bind-required="false"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="description"></div>
							
			 				<textarea class="form-control" 
		 						id="textarea-plan-description" 
		 						name="description"
		 						placeholder="{{ 'label.description' | hookFilterMachineNameTranslate | hookFilterTitle }}"
		 						rows="5"
		 						ng-model="PlanController.plan.description[PlanController.displayLanguage]"	 						
								></textarea>
						
						</div><!-- /.form-group -->

	
		
						<!-- Main model: plan, Relationship alias: sites, Relationship model: site -->

						<div class="form-group" 
							ng-controller="SiteController as SiteController" >
							
							<label for="checkbox-plan-site"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="sites"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="site in SiteController.sites">
								
								<label for="checkbox-plan-site-{{ site.id }}">
									
									<input id="checkbox-plan-site-{{ site.id }}" 
										type="checkbox"
										ng-model="PlanController.plan.sites[site.id]">{{ site.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: plan, Relationship alias: features, Relationship model: feature -->

						<div class="form-group" 
							ng-controller="FeatureController as FeatureController" >
							
							<label for="checkbox-plan-feature"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="features"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="feature in FeatureController.features">
								
								<label for="checkbox-plan-feature-{{ feature.id }}">
									
									<input id="checkbox-plan-feature-{{ feature.id }}" 
										type="checkbox"
										ng-model="PlanController.plan.features[feature.id]">{{ feature.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

	
					
					</div><!-- ./box-body -->

					<div class="box-footer" 
						hook-form-button
						hook-form-button-bind-form="form"
						hook-form-button-bind-controller="PlanController"></div><!-- /.box-footer -->

				</form>

            </div><!-- ./nav-tabs-custom -->
		
		</div><!-- /.box -->

 	</div><!-- /.col -->

	<div class="col-md-4"
		hook-translation-view
		hook-translation-view-bind-model="PlanController.plan"
		hook-translation-view-bind-get-language="HookController.ui.getLanguage()"
		hook-translation-view-bind-get-enabled-languages="HookController.ui.getEnabledLanguages()"></div><!-- /.col -->

</div><!-- /.row -->