<!-- Main model: order -->

<div class="row"
	ng-controller="OrderController as OrderController" 
	ng-init="OrderController.form()">
 	<div class="col-md-12">
 		
		<div class="box">

			<div class="box-header with-border">

				<h3 class="box-title">
					{{ ('ui.' + OrderController.mode) | hookFilterMachineNameTranslate | hookFilterTitle }} {{ 'model.order' | hookFilterMachineNameTranslate | hookFilterTitle }}
				</h3>
				
				<div class="box-tools" 
					hook-action-button-box-tools 
					hook-action-button-box-tools-bind-controller="OrderController"></div>

			</div><!-- /.box-header -->
			
			
			<div class="nav-tabs-custom">

				<!-- form start -->
				<form name="form"
						role="form"
						novalidate>

					<div class="box-body">
				
							
						<div class="form-group">

							<label for="boolean-order-paid"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="paid"
								hook-form-label-bind-required="false"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="paid"></div>
							
							<div class="radio">
								<label>
									<input type="radio" 
										ng-value="true"
										ng-model="OrderController.machineNameTranslation.paid"
										ng-checked="OrderController.machineNameTranslation.paid">
									{{ 'ui.yes' | hookFilterMachineNameTranslate | hookFilterCapitalize }}
								</label>
								<label>
									<input type="radio" 
										ng-value="false"
										ng-model="OrderController.machineNameTranslation.paid"
										ng-checked="!OrderController.machineNameTranslation.paid">
									{{ 'ui.no' | hookFilterMachineNameTranslate | hookFilterCapitalize }}
								</label>
							</div>
						
						</div><!-- /.form-group -->

	
						<!-- Main model: order, Relationship alias: site, Relationship model: site -->

						<div class="form-group" 
							ng-controller="SiteController as SiteController" >
							
							<label for="select-order-site"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="site"
								hook-form-label-bind-required="true"></label>
							
							<select id="select-order-site" 
									class="form-control" 
									name="site"
									ng-model="OrderController.machineNameTranslation.site"
									ng-options="site.id as (site.name | hookFilterContentTranslate) for site in SiteController.sites track by site.id"></select>
						
						</div><!-- /.form-group -->

		
						<!-- Main model: order, Relationship alias: accommodationOrders, Relationship model: accommodation__order -->

						<div class="form-group" 
							ng-controller="AccommodationOrderController as AccommodationOrderController" >
							
							<label for="checkbox-order-accommodation-order"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="accommodation_orders"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="accommodationOrder in AccommodationOrderController.accommodationOrders">
								
								<label for="checkbox-order-accommodation-order-{{ accommodationOrder.id }}">
									
									<input id="checkbox-order-accommodation-order-{{ accommodationOrder.id }}" 
										type="checkbox"
										ng-model="OrderController.order.accommodationOrders[accommodationOrder.id]">{{ accommodationOrder.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

	
					
					</div><!-- ./box-body -->

					<div class="box-footer" 
						hook-form-button
						hook-form-button-bind-form="form"
						hook-form-button-bind-controller="OrderController"></div><!-- /.box-footer -->

				</form>

            </div><!-- ./nav-tabs-custom -->
		
		</div><!-- /.box -->

 	</div><!-- /.col -->


</div><!-- /.row -->