<div>
	<div class="row">
		<div class="col-md-12">
			<h1>{{ 'ui.receipt' | hookFilterMachineNameTranslate}} </h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h4>{{ UiController.ui.site.name | hookFilterContentTranslate }}</h4>
			<div>
				<p>{{ UiController.ui.site.address | hookFilterContentTranslate }}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p>Tel.: {{ UiController.ui.site.telephone }}</p>
		</div>
		<div class="col-md-6">
			<p class="text-right">Date: 01.04.2016</p>
		</div>
	</div>
	
	<div class="row" 
		ng-include="UiController.getComponentView('accommodation_booking_form','order_detail')"></div>
</div>