<div class="row">
 	<div class="col-md-12">
 		
		<div class="box" 
			ng-controller="AdminSubmenuController as AdminSubmenuController" 
			ng-init="AdminSubmenuController.form()">

			<div class="box-header with-border">

				<h3 class="box-title">{{ AdminSubmenuController.mode | hookFilterTranslate | hookFilterTitle }} {{ 'admin_submenu' | hookFilterTranslate | hookFilterTitle }}</h3>
				
				<div class="box-tools" 
					hook-action-button-box-tools 
					hook-action-button-box-tools-bind-controller="AdminSubmenuController"></div>

			</div><!-- /.box-header -->
			
			<!-- form start -->
			<form name="form"
				role="form"
				novalidate>
				
				<div class="box-body">
					
					<div class="form-group">
						
						<label for="text-admin-submenu-href"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="href"
							hook-form-label-bind-required="false">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="href"></div>

						<input class="form-control" 
							id="text-admin-submenu-href" 
							name="href"
							placeholder="{{ 'href' | hookFilterTranslate | hookFilterTitle }}"
							type="text" 
							ng-model="AdminSubmenuController.adminSubmenu.href"
							>
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="text-admin-submenu-name"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="name"
							hook-form-label-bind-required="true">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="name"></div>

						<input class="form-control" 
							id="text-admin-submenu-name" 
							name="name"
							placeholder="{{ 'name' | hookFilterTranslate | hookFilterTitle }}"
							type="text" 
							ng-model="AdminSubmenuController.adminSubmenu.name"
							hook-validation-required
							hook-validation-unique
							hook-validation-unique-bind-controller="AdminSubmenuController"
							hook-validation-unique-bind-model="AdminSubmenuController.adminSubmenu"
							>
					
					</div><!-- /.form-group -->

					
					<div class="form-group" 
						ng-controller="AdminMainMenuController as AdminMainMenuController" >
						
						<label for="select-admin-submenu-admin-main-menu"
							hook-form-label
							hook-form-label-bind-form="form"
							hook-form-label-bind-field="admin_main_menu"
							hook-form-label-bind-required="true">
							>
						</label>
						
						<select id="select-admin-submenu-admin-main-menu" 
								class="form-control" 
								name="admin_main_menu"
								ng-model="AdminSubmenuController.adminSubmenu.adminMainMenu"
								ng-options="adminMainMenu.id as adminMainMenu.name for adminMainMenu in AdminMainMenuController.adminMainMenus track by adminMainMenu.id"></select>
					
					</div><!-- /.form-group -->

					
					<div class="form-group" 
						ng-controller="GroupController as GroupController" >
						
						<label for="checkbox-admin-submenu-group"
							hook-form-label
							hook-form-label-bind-form="form"
							hook-form-label-bind-field="group"
							hook-form-label-bind-required="false">
							>
						</label>
						
						<div class="checkbox"
							ng-repeat="group in GroupController.groups">
							
							<label for="checkbox-admin-submenu-group-{{ group.id }}">
								
								<input id="checkbox-admin-submenu-group-{{ group.id }}" 
									type="checkbox"
									ng-model="AdminSubmenuController.adminSubmenu.groups[group.id]">{{ group.name }}
							
							</label>
						
						</div><!-- /.checkbox -->

					</div><!-- /.form-group -->


					
				</div><!-- /.box-body -->
				
				<div class="box-footer" 
					hook-form-button
					hook-form-button-bind-form="form"
					hook-form-button-bind-controller="AdminSubmenuController"></div><!-- /.box-footer -->
			
			</form>
		</div><!-- /.box -->

 	</div><!-- /.col -->
</div><!-- /.row -->