<div class="row">
 	<div class="col-md-12">
 		
		<div class="box" 
			ng-controller="MachineNameController as MachineNameController" 
			ng-init="MachineNameController.form()">

			<div class="box-header with-border">

				<h3 class="box-title">{{ MachineNameController.mode | translate: 'title' }} {{ MODEL | translate: 'title' }}</h3>
				
				<div class="box-tools" 
					action-buttons-resource 
					bind-controller="MachineNameController"></div>

			</div><!-- /.box-header -->
			
			<!-- form start -->
			<form novalidate role="form">
				
				<div class="box-body">
					
					<div class="form-group">
						
						<label for="text-machine-name-name">{{ 'name' | translate: 'title' }}</label>
						
						<input class="form-control" 
							id="text-machine-name-name" 
							placeholder="Name" 
							type="text" 
							ng-model="MachineNameController.machineName.name">
					
					</div><!-- /.form-group -->

					

					
					<div class="form-group" 
						ng-controller="MachineNameTranslationController as MachineNameTranslationController" >
						
						<label for="checkbox-machine-name-machine-name-translation">{{ 'machine_name_translation' | translate: 'title' }}</label>
						
						<div class="checkbox"
							ng-repeat="machineNameTranslation in MachineNameTranslationController.machineNameTranslations">
							
							<label for="checkbox-machine-name-machine-name-translation-{{ machineNameTranslation.id }}">
								
								<input id="checkbox-machine-name-machine-name-translation-{{ machineNameTranslation.id }}" 
									type="checkbox"
									ng-model="MachineNameController.machineName.machineNameTranslations[machineNameTranslation.id]">{{ machineNameTranslation.name }}
							
							</label>
						
						</div><!-- /.checkbox -->

					</div><!-- /.form-group -->


					
				</div><!-- /.box-body -->
				
				<div class="box-footer" 
					form-buttons
					bind-controller="MachineNameController"></div><!-- /.box-footer -->
			
			</form>
		</div><!-- /.box -->

 	</div><!-- /.col -->
</div><!-- /.row -->