<!-- Main model: feature -->

<div class="row"
	ng-controller="FeatureController as FeatureController" 
	ng-init="FeatureController.form()">
 	<div class="col-md-8">
 		
		<div class="box">

			<div class="box-header with-border">

				<h3 class="box-title">
					{{ ('ui.' + FeatureController.mode) | hookFilterMachineNameTranslate | hookFilterTitle }} {{ 'model.feature' | hookFilterMachineNameTranslate | hookFilterTitle }}
				</h3>
				
				<div class="box-tools" 
					hook-action-button-box-tools 
					hook-action-button-box-tools-bind-controller="FeatureController"></div>

			</div><!-- /.box-header -->
			
			
			<div class="nav-tabs-custom">
                <ul class="nav nav-tabs" ng-init="FeatureController.displayLanguage=HookController.ui.getLanguage()">
                 
                  <li ng-class="{ 'active': FeatureController.displayLanguage==language.iso_2_code }"
                  	ng-repeat="(id, language) in HookController.ui.getEnabledLanguages()">
                  
                  	<a href="" ng-click="FeatureController.displayLanguage=language.iso_2_code">
                  	
                  		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
                  	
                  		{{ language.name | hookFilterContentTranslate }}
                  	
                  	</a>
                 
                  </li>
                
                </ul>

				<!-- form start -->
				<form name="form"
						role="form"
						novalidate>

					<div class="box-body">
				
							
						<div class="form-group">

							<label for="text-feature-icon"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="icon"
								hook-form-label-bind-required="false"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="icon"></div>
							
							<input class="form-control" 
								id="text-feature-icon" 
								name="icon"
								placeholder="{{ 'label.icon' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="FeatureController.feature.icon"	 						
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-feature-name"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="name"
								hook-form-label-bind-flag="HookController.ui.getFlagByIso2Code(FeatureController.displayLanguage)"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="name"></div>
							
							<input class="form-control" 
								id="text-feature-name" 
								name="name"
								placeholder="{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="FeatureController.feature.name[FeatureController.displayLanguage]"	 						
								hook-validation-required
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="textarea-feature-description"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="description"
								hook-form-label-bind-flag="HookController.ui.getFlagByIso2Code(FeatureController.displayLanguage)"
								hook-form-label-bind-required="false"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="description"></div>
							
			 				<textarea class="form-control" 
		 						id="textarea-feature-description" 
		 						name="description"
		 						placeholder="{{ 'label.description' | hookFilterMachineNameTranslate | hookFilterTitle }}"
		 						rows="5"
		 						ng-model="FeatureController.feature.description[FeatureController.displayLanguage]"	 						
								></textarea>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="boolean-feature-hide-from-menu"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="hide_from_menu"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="hide_from_menu"></div>
							
							<div class="radio">
								<label>
									<input type="radio" 
										ng-value="true"
										ng-model="FeatureController.feature.hide_from_menu"
										ng-checked="FeatureController.feature.hide_from_menu">
									{{ 'ui.yes' | hookFilterMachineNameTranslate | hookFilterCapitalize }}
								</label>
								<label>
									<input type="radio" 
										ng-value="false"
										ng-model="FeatureController.feature.hide_from_menu"
										ng-checked="!FeatureController.feature.hide_from_menu">
									{{ 'ui.no' | hookFilterMachineNameTranslate | hookFilterCapitalize }}
								</label>
							</div>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="boolean-feature-owner"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="owner"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="owner"></div>
							
							<div class="radio">
								<label>
									<input type="radio" 
										ng-value="true"
										ng-model="FeatureController.feature.owner"
										ng-checked="FeatureController.feature.owner">
									{{ 'ui.yes' | hookFilterMachineNameTranslate | hookFilterCapitalize }}
								</label>
								<label>
									<input type="radio" 
										ng-value="false"
										ng-model="FeatureController.feature.owner"
										ng-checked="!FeatureController.feature.owner">
									{{ 'ui.no' | hookFilterMachineNameTranslate | hookFilterCapitalize }}
								</label>
							</div>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-feature-weight"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="weight"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="weight"></div>
							
							<input class="form-control" 
								id="text-feature-weight" 
								name="weight"
								placeholder="{{ 'label.weight' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="FeatureController.feature.weight"	 						
								hook-validation-required
								hook-validation-number
								>
						
						</div><!-- /.form-group -->

	
						<!-- Main model: feature, Relationship alias: machineName, Relationship model: machine_name -->

						<div class="form-group" 
							ng-controller="MachineNameController as MachineNameController" >
							
							<label for="select-feature-machine-name"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="machine_name"
								hook-form-label-bind-required="true"></label>
							
							<select id="select-feature-machine-name" 
									class="form-control" 
									name="machineName"
									ng-model="FeatureController.feature.machineName"
									ng-options="machineName.id as (machineName.name | hookFilterContentTranslate) for machineName in MachineNameController.machineNames track by machineName.id"></select>
						
						</div><!-- /.form-group -->

		
						<!-- Main model: feature, Relationship alias: backendRoutes, Relationship model: backend_route -->

						<div class="form-group" 
							ng-controller="BackendRouteController as BackendRouteController" >
							
							<label for="checkbox-feature-backend-routes"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="backend_routes"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="backendRoutes in BackendRouteController.backendRoutes">
								
								<label for="checkbox-feature-backend-routes-{{ backendRoutes.id }}">
									
									<input id="checkbox-feature-backend-routes-{{ backendRoutes.id }}" 
										type="checkbox"
										ng-model="FeatureController.feature.backendRoutes[backendRoutes.id]">{{ backendRoutes.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: feature, Relationship alias: groups, Relationship model: group -->

						<div class="form-group" 
							ng-controller="GroupController as GroupController" >
							
							<label for="checkbox-feature-groups"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="groups"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="groups in GroupController.groups">
								
								<label for="checkbox-feature-groups-{{ groups.id }}">
									
									<input id="checkbox-feature-groups-{{ groups.id }}" 
										type="checkbox"
										ng-model="FeatureController.feature.groups[groups.id]">{{ groups.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: feature, Relationship alias: plans, Relationship model: plan -->

						<div class="form-group" 
							ng-controller="PlanController as PlanController" >
							
							<label for="checkbox-feature-plans"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="plans"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="plans in PlanController.plans">
								
								<label for="checkbox-feature-plans-{{ plans.id }}">
									
									<input id="checkbox-feature-plans-{{ plans.id }}" 
										type="checkbox"
										ng-model="FeatureController.feature.plans[plans.id]">{{ plans.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

	
					
					</div><!-- ./box-body -->

					<div class="box-footer" 
						hook-form-button
						hook-form-button-bind-form="form"
						hook-form-button-bind-controller="FeatureController"></div><!-- /.box-footer -->

				</form>

            </div><!-- ./nav-tabs-custom -->
		
		</div><!-- /.box -->

 	</div><!-- /.col -->

	<div class="col-md-4"
		hook-translation-view
		hook-translation-view-bind-model="FeatureController.feature"
		hook-translation-view-bind-get-language="HookController.ui.getLanguage()"
		hook-translation-view-bind-get-enabled-languages="HookController.ui.getEnabledLanguages()"></div><!-- /.col -->

</div><!-- /.row -->