<!-- Main model: site -->

<div class="row"
	ng-controller="SiteController as SiteController" 
	ng-init="SiteController.form()">
 	<div class="col-md-8">
 		
		<div class="box">

			<div class="box-header with-border">

				<h3 class="box-title">
					{{ ('ui.' + SiteController.mode) | hookFilterMachineNameTranslate | hookFilterTitle }} {{ 'model.site' | hookFilterMachineNameTranslate | hookFilterTitle }}
				</h3>
				
				<div class="box-tools" 
					hook-action-button-box-tools 
					hook-action-button-box-tools-bind-controller="SiteController"></div>

			</div><!-- /.box-header -->
			
			
			<div class="nav-tabs-custom">
                <ul class="nav nav-tabs" ng-init="SiteController.displayLanguage=HookController.ui.getLanguage()">
                 
                  <li ng-class="{ 'active': SiteController.displayLanguage==language.iso_2_code }"
                  	ng-repeat="(id, language) in HookController.ui.getEnabledLanguages()">
                  
                  	<a href="" ng-click="SiteController.displayLanguage=language.iso_2_code">
                  	
                  		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
                  	
                  		{{ language.name | hookFilterContentTranslate }}
                  	
                  	</a>
                 
                  </li>
                
                </ul>

				<!-- form start -->
				<form name="form"
						role="form"
						novalidate>

					<div class="box-body">
				
							
						<div class="form-group">

							<label for="text-site-name"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="name"
								hook-form-label-bind-flag="HookController.ui.getFlagByIso2Code(SiteController.displayLanguage)"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="name"></div>
							
							<input class="form-control" 
								id="text-site-name" 
								name="name"
								placeholder="{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="SiteController.site.name[SiteController.displayLanguage]"	 						
								hook-validation-required
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-site-domain"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="domain"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="domain"></div>
							
							<input class="form-control" 
								id="text-site-domain" 
								name="domain"
								placeholder="{{ 'label.domain' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="SiteController.site.domain"	 						
								hook-validation-required
								hook-validation-unique
								hook-validation-unique-bind-controller="SiteController"
								hook-validation-unique-bind-model="SiteController.site"
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-site-subdomain"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="subdomain"
								hook-form-label-bind-required="true"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="subdomain"></div>
							
							<input class="form-control" 
								id="text-site-subdomain" 
								name="subdomain"
								placeholder="{{ 'label.subdomain' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="SiteController.site.subdomain"	 						
								hook-validation-required
								hook-validation-unique
								hook-validation-unique-bind-controller="SiteController"
								hook-validation-unique-bind-model="SiteController.site"
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="textarea-site-address"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="address"
								hook-form-label-bind-flag="HookController.ui.getFlagByIso2Code(SiteController.displayLanguage)"
								hook-form-label-bind-required="false"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="address"></div>
							
			 				<textarea class="form-control" 
		 						id="textarea-site-address" 
		 						name="address"
		 						placeholder="{{ 'label.address' | hookFilterMachineNameTranslate | hookFilterTitle }}"
		 						rows="5"
		 						ng-model="SiteController.site.address[SiteController.displayLanguage]"	 						
								></textarea>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-site-telephone"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="telephone"
								hook-form-label-bind-required="false"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="telephone"></div>
							
							<input class="form-control" 
								id="text-site-telephone" 
								name="telephone"
								placeholder="{{ 'label.telephone' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="SiteController.site.telephone"	 						
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-site-fax"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="fax"
								hook-form-label-bind-required="false"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="fax"></div>
							
							<input class="form-control" 
								id="text-site-fax" 
								name="fax"
								placeholder="{{ 'label.fax' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="SiteController.site.fax"	 						
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="email-site-email"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="email"
								hook-form-label-bind-required="false"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="email"></div>
							
							<input class="form-control"
									id="email-site-email"
									name="email" 
									placeholder="{{ 'label.email' | hookFilterMachineNameTranslate | hookFilterTitle }}"
									type="email"  
									ng-model="SiteController.site.email"
									hook-validation-email
>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-site-facebook-link"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="facebook_link"
								hook-form-label-bind-required="false"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="facebook_link"></div>
							
							<input class="form-control" 
								id="text-site-facebook-link" 
								name="facebook_link"
								placeholder="{{ 'label.facebook_link' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="SiteController.site.facebook_link"	 						
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-site-twitter-link"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="twitter_link"
								hook-form-label-bind-required="false"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="twitter_link"></div>
							
							<input class="form-control" 
								id="text-site-twitter-link" 
								name="twitter_link"
								placeholder="{{ 'label.twitter_link' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="SiteController.site.twitter_link"	 						
								>
						
						</div><!-- /.form-group -->
							
						<div class="form-group">

							<label for="text-site-tripadvisor-link"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="tripadvisor_link"
								hook-form-label-bind-required="false"
								></label>
								
							<div hook-validation-message 
								hook-validation-message-bind-form="form"
								hook-validation-message-bind-field="tripadvisor_link"></div>
							
							<input class="form-control" 
								id="text-site-tripadvisor-link" 
								name="tripadvisor_link"
								placeholder="{{ 'label.tripadvisor_link' | hookFilterMachineNameTranslate | hookFilterTitle }}"
								type="text" 
		 						ng-model="SiteController.site.tripadvisor_link"	 						
								>
						
						</div><!-- /.form-group -->

	
						<!-- Main model: site, Relationship alias: plan, Relationship model: plan -->

						<div class="form-group" 
							ng-controller="PlanController as PlanController" >
							
							<label for="select-site-plan"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="plan"
								hook-form-label-bind-required="true"></label>
							
							<select id="select-site-plan" 
									class="form-control" 
									name="plan"
									ng-model="SiteController.site.plan"
									ng-options="plan.id as (plan.name | hookFilterContentTranslate) for plan in PlanController.plans track by plan.id"></select>
						
						</div><!-- /.form-group -->

						<!-- Main model: site, Relationship alias: defaultLanguage, Relationship model: language -->

						<div class="form-group" 
							ng-controller="LanguageController as LanguageController" >
							
							<label for="select-site-default-language"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="default_language"
								hook-form-label-bind-required="true"></label>
							
							<select id="select-site-default-language" 
									class="form-control" 
									name="defaultLanguage"
									ng-model="SiteController.site.defaultLanguage"
									ng-options="defaultLanguage.id as (defaultLanguage.name | hookFilterContentTranslate) for defaultLanguage in LanguageController.languages track by defaultLanguage.id"></select>
						
						</div><!-- /.form-group -->

		
						<!-- Main model: site, Relationship alias: groups, Relationship model: group -->

						<div class="form-group" 
							ng-controller="GroupController as GroupController" >
							
							<label for="checkbox-site-group"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="groups"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="group in GroupController.groups">
								
								<label for="checkbox-site-group-{{ group.id }}">
									
									<input id="checkbox-site-group-{{ group.id }}" 
										type="checkbox"
										ng-model="SiteController.site.groups[group.id]">{{ group.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: site, Relationship alias: users, Relationship model: user -->

						<div class="form-group" 
							ng-controller="UserController as UserController" >
							
							<label for="checkbox-site-user"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="users"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="user in UserController.users">
								
								<label for="checkbox-site-user-{{ user.id }}">
									
									<input id="checkbox-site-user-{{ user.id }}" 
										type="checkbox"
										ng-model="SiteController.site.users[user.id]">{{ user.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: site, Relationship alias: accommodations, Relationship model: accommodation -->

						<div class="form-group" 
							ng-controller="AccommodationController as AccommodationController" >
							
							<label for="checkbox-site-accommodation"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="accommodations"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="accommodation in AccommodationController.accommodations">
								
								<label for="checkbox-site-accommodation-{{ accommodation.id }}">
									
									<input id="checkbox-site-accommodation-{{ accommodation.id }}" 
										type="checkbox"
										ng-model="SiteController.site.accommodations[accommodation.id]">{{ accommodation.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: site, Relationship alias: facilities, Relationship model: resort_facility -->

						<div class="form-group" 
							ng-controller="ResortFacilityController as ResortFacilityController" >
							
							<label for="checkbox-site-facility"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="facilities"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="facility in ResortFacilityController.facilities">
								
								<label for="checkbox-site-facility-{{ facility.id }}">
									
									<input id="checkbox-site-facility-{{ facility.id }}" 
										type="checkbox"
										ng-model="SiteController.site.facilities[facility.id]">{{ facility.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: site, Relationship alias: enabledLanguages, Relationship model: language -->

						<div class="form-group" 
							ng-controller="LanguageController as LanguageController" >
							
							<label for="checkbox-site-language"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="enabled_languages"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="language in LanguageController.languages">
								
								<label for="checkbox-site-language-{{ language.id }}">
									
									<input id="checkbox-site-language-{{ language.id }}" 
										type="checkbox"
										ng-model="SiteController.site.enabledLanguages[language.id]">{{ language.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: site, Relationship alias: publishedLanguages, Relationship model: language -->

						<div class="form-group" 
							ng-controller="LanguageController as LanguageController" >
							
							<label for="checkbox-site-language"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="published_languages"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="language in LanguageController.languages">
								
								<label for="checkbox-site-language-{{ language.id }}">
									
									<input id="checkbox-site-language-{{ language.id }}" 
										type="checkbox"
										ng-model="SiteController.site.publishedLanguages[language.id]">{{ language.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: site, Relationship alias: pages, Relationship model: page -->

						<div class="form-group" 
							ng-controller="PageController as PageController" >
							
							<label for="checkbox-site-page"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="pages"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="page in PageController.pages">
								
								<label for="checkbox-site-page-{{ page.id }}">
									
									<input id="checkbox-site-page-{{ page.id }}" 
										type="checkbox"
										ng-model="SiteController.site.pages[page.id]">{{ page.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: site, Relationship alias: orders, Relationship model: order -->

						<div class="form-group" 
							ng-controller="OrderController as OrderController" >
							
							<label for="checkbox-site-machine-name-translation"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="orders"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="machineNameTranslation in OrderController.machineNameTranslations">
								
								<label for="checkbox-site-machine-name-translation-{{ machineNameTranslation.id }}">
									
									<input id="checkbox-site-machine-name-translation-{{ machineNameTranslation.id }}" 
										type="checkbox"
										ng-model="SiteController.site.orders[machineNameTranslation.id]">{{ machineNameTranslation.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

						<!-- Main model: site, Relationship alias: payments, Relationship model: payment -->

						<div class="form-group" 
							ng-controller="PaymentController as PaymentController" >
							
							<label for="checkbox-site-payment"
								hook-form-label
								hook-form-label-bind-form="form"
								hook-form-label-bind-field="payments"
								hook-form-label-bind-required="false"></label>
							
							<div class="checkbox"
								ng-repeat="payment in PaymentController.payments">
								
								<label for="checkbox-site-payment-{{ payment.id }}">
									
									<input id="checkbox-site-payment-{{ payment.id }}" 
										type="checkbox"
										ng-model="SiteController.site.payments[payment.id]">{{ payment.name | hookFilterContentTranslate }}
								
								</label>
							
							</div><!-- /.checkbox -->

						</div><!-- /.form-group -->
						

	
					
					</div><!-- ./box-body -->

					<div class="box-footer" 
						hook-form-button
						hook-form-button-bind-form="form"
						hook-form-button-bind-controller="SiteController"></div><!-- /.box-footer -->

				</form>

            </div><!-- ./nav-tabs-custom -->
		
		</div><!-- /.box -->

 	</div><!-- /.col -->

	<div class="col-md-4"
		hook-translation-view
		hook-translation-view-bind-model="SiteController.site"
		hook-translation-view-bind-get-language="HookController.ui.getLanguage()"
		hook-translation-view-bind-get-enabled-languages="HookController.ui.getEnabledLanguages()"></div><!-- /.col -->

</div><!-- /.row -->