<!-- Main model: accommodation_kind -->

<div class="box" 
	ng-controller="AccommodationKindController as AccommodationKindController" 
	ng-init="AccommodationKindController.show()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'model.accommodation_kind' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="AccommodationKindController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="nav-tabs-custom">

        <ul class="nav nav-tabs" ng-init="AccommodationKindController.displayLanguage=HookController.ui.getLanguage()">
         
          <li ng-class="{ 'active': AccommodationKindController.displayLanguage==language.iso_2_code }"
          	ng-repeat="(id, language) in HookController.ui.getEnableLanguages()">
          
          	<a href="" ng-click="AccommodationKindController.displayLanguage=language.iso_2_code">
          	
          		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
          	
          		{{ language.name | hookFilterContentTranslate }}
          	
          	</a>
         
          </li>
        
        </ul>


		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ AccommodationKindController.kind.name | hookFilterContentTranslate: AccommodationKindController.displayLanguage }}</dd>
				
			</dl>
		
		</div><!-- /.box-body -->
	
		<!-- Main model: accommodation_kind, Relationship alias: accommodations, Relationship model: accommodation -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.accommodations' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.description' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.size' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.rooms' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.price' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.extra_bed_price' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.max_quantity' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.max_extra_bed' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, accommodation) in AccommodationKindController.accommodationKind.accommodations">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ accommodation.name | hookFilterContentTranslate: AccommodationKindController.displayLanguage }}</td>
						
						<td>{{ accommodation.description | hookFilterContentTranslate: AccommodationKindController.displayLanguage }}</td>
						
						<td>{{ accommodation.size }}</td>
						
						<td>{{ accommodation.rooms }}</td>
						
						<td>{{ accommodation.price }}</td>
						
						<td>{{ accommodation.extra_bed_price }}</td>
						
						<td>{{ accommodation.max_quantity }}</td>
						
						<td>{{ accommodation.max_extra_bed }}</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->


	<div class="box-footer">
	</div><!-- /.box-footer -->


	</div><!-- ./nav-tabs-custom -->

</div><!-- /.box -->