<div class="row">
 	<div class="col-md-12">
 		
		<div class="box" 
			ng-controller="AdminRouteController as AdminRouteController" 
			ng-init="AdminRouteController.form()">

			<div class="box-header with-border">

				<h3 class="box-title">{{ AdminRouteController.mode | hookFilterTranslate | hookFilterTitle }} {{ 'admin_route' | hookFilterTranslate | hookFilterTitle }}</h3>
				
				<div class="box-tools" 
					hook-action-button-box-tools 
					hook-action-button-box-tools-bind-controller="AdminRouteController"></div>

			</div><!-- /.box-header -->
			
			<!-- form start -->
			<form name="form"
				role="form"
				novalidate>
				
				<div class="box-body">
					
					<div class="form-group">
						
						<label for="text-admin-route-templateurl"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="templateUrl"
							hook-form-label-bind-required="true">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="templateUrl"></div>

						<input class="form-control" 
							id="text-admin-route-templateurl" 
							name="templateUrl"
							placeholder="{{ 'templateUrl' | hookFilterTranslate | hookFilterTitle }}"
							type="text" 
							ng-model="AdminRouteController.adminRoute.templateUrl"
							hook-validation-required
							>
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="text-admin-route-route"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="route"
							hook-form-label-bind-required="true">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="route"></div>

						<input class="form-control" 
							id="text-admin-route-route" 
							name="route"
							placeholder="{{ 'route' | hookFilterTranslate | hookFilterTitle }}"
							type="text" 
							ng-model="AdminRouteController.adminRoute.route"
							hook-validation-required
							hook-validation-unique
							hook-validation-unique-bind-controller="AdminRouteController"
							hook-validation-unique-bind-model="AdminRouteController.adminRoute"
							>
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="text-admin-route-model"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="model"
							hook-form-label-bind-required="true">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="model"></div>

						<input class="form-control" 
							id="text-admin-route-model" 
							name="model"
							placeholder="{{ 'model' | hookFilterTranslate | hookFilterTitle }}"
							type="text" 
							ng-model="AdminRouteController.adminRoute.model"
							hook-validation-required
							>
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="text-admin-route-mode"
							hook-form-label
							hook-form-label-bind-form="form"s
							hook-form-label-bind-field="mode"
							hook-form-label-bind-required="true">
						</label>
						
						<div hook-validation-message 
							hook-validation-message-bind-form="form"
							hook-validation-message-bind-field="mode"></div>

						<input class="form-control" 
							id="text-admin-route-mode" 
							name="mode"
							placeholder="{{ 'mode' | hookFilterTranslate | hookFilterTitle }}"
							type="text" 
							ng-model="AdminRouteController.adminRoute.mode"
							hook-validation-required
							>
					
					</div><!-- /.form-group -->

					

					


					
				</div><!-- /.box-body -->
				
				<div class="box-footer" 
					hook-form-button
					hook-form-button-bind-form="form"
					hook-form-button-bind-controller="AdminRouteController"></div><!-- /.box-footer -->
			
			</form>
		</div><!-- /.box -->

 	</div><!-- /.col -->
</div><!-- /.row -->