<!-- Main model: backend_route -->

<div class="box" 
	ng-controller="BackendRouteController as BackendRouteController" 
	ng-init="BackendRouteController.show()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'model.backend_route' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="BackendRouteController"></div>
	
	</div><!-- /.box-header -->
	
	<div class="nav-tabs-custom">

        <ul class="nav nav-tabs" ng-init="BackendRouteController.displayLanguage=HookController.ui.getLanguage()">
         
          <li ng-class="{ 'active': BackendRouteController.displayLanguage==language.iso_2_code }"
          	ng-repeat="(id, language) in HookController.ui.getEnabledLanguages()">
          
          	<a href="" ng-click="BackendRouteController.displayLanguage=language.iso_2_code">
          	
          		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
          	
          		{{ language.name | hookFilterContentTranslate }}
          	
          	</a>
         
          </li>
        
        </ul>


		<div class="box-body">
			
			<dl><!-- class="dl-horizontal" -->
				
				<dt>{{ 'label.machine_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ BackendRouteController.backendRoute.machine_name }}</dd>
				
				<dt>{{ 'label.route' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ BackendRouteController.backendRoute.route }}</dd>
				
				<dt>{{ 'label.templateUrl' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ BackendRouteController.backendRoute.templateUrl }}</dd>
				
				<dt>{{ 'label.model' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ BackendRouteController.backendRoute.model }}</dd>
				
				<dt>{{ 'label.mode' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd>{{ BackendRouteController.backendRoute.mode }}</dd>
				
				<dt>{{ 'label.is_menu' | hookFilterMachineNameTranslate | hookFilterTitle }}</dt>
				<dd ng-class="backendRoute.is_menu ? 'text-success':'text-danger'"><span class="fa" ng-class="BackendRouteController.backendRoute.is_menu ? 'fa-check':'fa-close'"></span></dd>
				
			</dl>
		
		</div><!-- /.box-body -->
	
		<!-- Main model: backend_route, Relationship alias: features, Relationship model: feature -->

		<div class="box-header with-border">
			
			<h3 class="box-title">{{ 'label.features' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
			
			<div class="box-tools"></div>
		
		</div><!-- /.box-header -->
		
		<div class="box-body">

			<table class="table no-border table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.icon' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.description' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th class="text-center">{{ 'label.hide_from_menu' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th class="text-center">{{ 'label.owner' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
						<th>{{ 'label.weight' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
						
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, feature) in BackendRouteController.backendRoute.features">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ feature.icon }}</td>
						
						<td>{{ feature.name | hookFilterContentTranslate: BackendRouteController.displayLanguage }}</td>
						
						<td>{{ feature.description | hookFilterContentTranslate: BackendRouteController.displayLanguage }}</td>
						
						<td class="text-center" 
							ng-class="feature.hide_from_menu ? 'text-success':'text-danger'">
							<span class="fa" 
								ng-class="feature.hide_from_menu ? 'fa-check':'fa-close'"></span>
						</td>
						
						<td class="text-center" 
							ng-class="feature.owner ? 'text-success':'text-danger'">
							<span class="fa" 
								ng-class="feature.owner ? 'fa-check':'fa-close'"></span>
						</td>
						
						<td>{{ feature.weight }}</td>
						
		
					</tr>
				
				</tbody>
			
			</table>

		</div><!-- /.box-body -->


	<div class="box-footer">
	</div><!-- /.box-footer -->


	</div><!-- ./nav-tabs-custom -->

</div><!-- /.box -->