<div class="row">
 	<div class="col-md-12">
 		
		<div class="box" 
			ng-controller="GroupController as GroupController" 
			ng-init="GroupController.form()">

			<div class="box-header with-border">

				<h3 class="box-title">{{ GroupController.mode | capitalize }} group</h3>
				
				<div class="box-tools" 
					action-buttons-resource 
					bind-controller="GroupController"></div>

			</div><!-- /.box-header -->
			
			<!-- form start -->
			<form novalidate role="form">
				
				<div class="box-body">
					
					<div class="form-group">
						
						<label for="text-group-name">Name</label>
						
						<input class="form-control" 
							id="text-group-name" 
							placeholder="Name" 
							type="text" 
							ng-model="GroupController.group.name">
					
					</div><!-- /.form-group -->
					
					<div class="form-group">
						
						<label for="number-group-order">Order</label>
						
						<input class="form-control"
								id="number-group-order" 
								type="number"  
								placeholder="Order"
								ng-model="GroupController.group.order">
					
					</div><!-- /.form-group -->

					

					
					<div class="form-group" 
						ng-controller="UserController as UserController" >
						
						<label for="checkbox-group-user">User</label>
						
						<div class="checkbox"
							ng-repeat="user in UserController.users">
							
							<label for="checkbox-group-user-{{ user.id }}">
								
								<input id="checkbox-group-user-{{ user.id }}" 
									type="checkbox"
									ng-model="GroupController.group.users[user.id]">{{ user.name }}
							
							</label>
						
						</div><!-- /.checkbox -->

					</div><!-- /.form-group -->


					
				</div><!-- /.box-body -->
				
				<div class="box-footer">

					<button class="btn btn-success"
							type="submit"
							ng-click="GroupController.store(GroupController.group)"
							ng-if="GroupController.mode == 'create'">Create</button>
					
					<button class="btn btn-warning"
							type="submit"
							ng-click="GroupController.update(GroupController.group)"
							ng-if="GroupController.mode == 'edit'"   >Edit</button>
				
				</div><!-- /.box-footer -->
			
			</form>
		</div><!-- /.box -->

 	</div><!-- /.col -->
</div><!-- /.row -->