<!-- Main model: user -->

<div class="box" 
	ng-controller="UserController as UserController" 
	ng-init="UserController.list()">
	
	<div class="box-header with-border">
		
		<h3 class="box-title">{{ 'model.user' | hookFilterMachineNameTranslate | hookFilterTitle }}</h3>
		
		<div class="box-tools" 
			hook-action-button-box-tools 
			hook-action-button-box-tools-bind-controller="UserController"></div>
	
	</div><!-- /.box-header -->


	<div class="nav-tabs-custom">

        <ul class="nav nav-tabs" ng-init="UserController.displayLanguage=HookController.ui.getLanguage()">
         
          <li ng-class="{ 'active': UserController.displayLanguage==language.iso_2_code }"
          	ng-repeat="(id, language) in HookController.ui.getEnableLanguages()">
          
          	<a href="" ng-click="UserController.displayLanguage=language.iso_2_code">
          	
          		<span class="flag-icon flag-icon-{{ language.flag }}"></span> 
          	
          		{{ language.name | hookFilterContentTranslate }}
          	
          	</a>
         
          </li>
        
        </ul>
	
		<div class="box-body">
			
			<table class="table table-bordered table-hover"
				id="table-group"> 
				
				<thead>
					
					<tr>
				
						<th class="table-index-column-width">#</th>
						
						<th>{{ 'label.username' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>

						<th>{{ 'label.first_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>

						<th>{{ 'label.last_name' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>

						<th>{{ 'label.email' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>

						<th class="table-action-column-width">{{ 'ui.actions' | hookFilterMachineNameTranslate | hookFilterTitle }}</th>
					
					</tr>
				
				</thead>
				
				<tbody>
					
					<tr ng-repeat="(id, user) in UserController.users">
						
						<td>{{ $index + 1 }}</td>
						
						<td>{{ user.username }}</td>

						<td>{{ user.first_name | hookFilterContentTranslate: UserController.displayLanguage }}</td>

						<td>{{ user.last_name | hookFilterContentTranslate: UserController.displayLanguage }}</td>

						<td>{{ user.email }}</td>

						<td hook-action-button-list 
							hook-action-button-list-bind-resource="user" 
							hook-action-button-list-bind-controller="UserController"></td>
					
					</tr>
				
				</tbody>
			
			</table>
		
		</div><!-- /.box-body -->

	
		<div class="box-footer">
		</div><!-- /.box-footer -->

	</div><!-- ./nav-tabs-custom -->

</div><!-- /.box -->