<!-- form start -->
<form role="form"
	novalidate>

	<div class="box-body">
		
		<div class="form-group" ng-include="'management_app/resource/section/view/form/common/body.html'"></div><!-- /.form-group -->

		<div class="form-group" ng-include="'management_app/resource/section/view/form/common/weight.html'"></div><!-- /.form-group -->
	
	</div><!-- ./box-body -->

	<div class="box-footer" ng-include="'management_app/resource/section/view/form/common/buttons.html'"></div><!-- /.box-footer -->

</form>